extends ../../../layout/layout.jade
//- Account/Login
block content
	div.center_box
		section.register_form
			div.register_form_header.row
				div.title
					h2
						.icon.icon_calendar 
						| Completa tus datos y participa
					p ¿Necesitas ayuda? Llama al 311-6707 – Opción 1 
				div.access_account
					| Ya soy usuario,
					br
					a(href="") Ingresar a mi cuenta
			section.register_form_body
				.form_row
					.form_col
						label Nombre
						fieldset
							input(type="text", id="txtNombre" name="txtNombre")
					.form_col
						label Apellido Paterno
						fieldset
							input(type="text", id="txtFirstLastname" name="txtFirstLastname")
				.form_row
					.form_col
						label Apellido Materno
						fieldset
							input(type="text", id="txtSecondLastname" name="txtSecondLastname")
					.form_col
						label Email
						fieldset
							input(type="text", id="txtEmail" name="txtEmail")
				.form_row
					.form_col
						label Contraseña
						fieldset
							input(type="password", id="txtPassword" name="txtPassword")
					.form_col
						label Repetir contraseña
						fieldset
							input(type="password", id="txtRepeatPassword" name="txtRepeatPassword")
				.form_row
					.form_col.type_document_col
						label Tipo de Documento
						fieldset
							select(id="selTypeDocument" name="selTypeDocument")
								option DNI
								option CARNET DE EXTRANJERIA
							input(type="text", id="txtTypeDocument" name="txtTypeDocument")
					.form_col
						label Celular
						fieldset
							input(type="text", id="txtMobilePhone" name="txtMobilePhone")
				.form_row
					.form_col
						label Teléfono fijo
						fieldset
							input(type="text", id="txtPhoneNumber" name="txtPhoneNumber")
					.form_col.birthday_col
						label Nacimiento
						fieldset
							input(type="text", id="txtBirthDay" name="txtBirthDay")
					.form_col.gender_col
						label Género
						fieldset
							label.ioption
								input(type="radio", name="rdGener")
								| Masculino
							label.ioption
								input(type="radio", name="rdGener")
								| Femenino
				
				h2.mt25 Danos tu ubicacion
				.form_row
					.form_col
						label Departamento
						fieldset
							select(id="selDepartment" name="selDepartment")
								option Lima
					.form_col
						label Provincia
						fieldset
							select(id="selProvince" name="selProvince")
								option Lima
				.form_row
					.form_col
						label Distrito
						fieldset
							select(id="selDistric" name="selDistric")
								option Selecciona tu distrito
					.form_col
				.form_row
					.form_col.type_road_col
						label Tipo de vía
						fieldset
							select(id="selTypeOfRoad" name="selTypeOfRoad")
								option Avenida
					.form_col.street_address_col
						label Dirección
						fieldset
							input(type="text", id="txtStreetAddress" name="txtStreetAddress")
				.form_row.other_info_row
					.form_col
						label Número
						fieldset
							input(type="text", id="txtNumberAddress" name="txtNumberAddress")
					.form_col
						label Interior
						fieldset
							input(type="text", id="txtNumberInsideAddress" name="txtNumberInsideAddress")
				.form_row.checkbox_row
					label.ioption
						input(type="checkbox", name="rdTerms")
						| Estoy de acuerdo con los 
						a.terms(href="javascript:;") Términos y condiciones
					label.ioption
						input(type="checkbox", name="rdMailing")
						| Deseo recibir información de productos y servicios relacionados a Urbania.pe
				.form_row
					div.capcha_code
						img(src="/img/landing_capcha.jpg")
				.form_row
					button.btn.btn_save
						| QUIERO PARTICIPAR
				p.information
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lobortis sit amet est ac lobortis. 
					| Vestibulum at tristique odio, sit amet suscipit sem. Nulla facilisi. Praesent sed volutpat nulla, quis fermentum velit. 
					| Phasellus non leo id enim bibendum semper sed non ipsum. Phasellus non nibh ullamcorper, rhoncus mauris et, vehicula purus. 
					| Pellentesque pharetra ullamcorper massa, vel maximus mauris maximus molestie. Integer vestibulum nibh ac felis ultricies congue. 
					| Cras lectus elit, viverra at laoreet a, interdum quis orci. Morbi semper lacus non est mattis, sit amet accumsan neque molestie. 
					| In finibus, leo at interdum interdum, urna neque luctus enim, a lacinia ligula augue et odio. Nam purus mauris, pharetra ac erat 
					| sed, porttitor rhoncus nunc. Aenean sit amet felis varius, mollis tortor non, euismod eros. Sed varius pellentesque leo sed fringilla. 
					| Vivamus erat tortor, hendrerit a finibus ut, auctor vitae lectus.
		aside
			div.draw_day
				span SORTEO
				div.tape
			div.draw_products
		
