/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$aladino_1_name = 'aladino_1';
$aladino_1_x = 46px;
$aladino_1_y = 0px;
$aladino_1_offset_x = -46px;
$aladino_1_offset_y = 0px;
$aladino_1_width = 46px;
$aladino_1_height = 66px;
$aladino_1_total_width = 230px;
$aladino_1_total_height = 198px;
$aladino_1_image = '../../../img/aladino_running.png';
$aladino_1 = 46px 0px -46px 0px 46px 66px 230px 198px '../../../img/aladino_running.png' 'aladino_1';
$aladino_10_name = 'aladino_10';
$aladino_10_x = 92px;
$aladino_10_y = 66px;
$aladino_10_offset_x = -92px;
$aladino_10_offset_y = -66px;
$aladino_10_width = 46px;
$aladino_10_height = 66px;
$aladino_10_total_width = 230px;
$aladino_10_total_height = 198px;
$aladino_10_image = '../../../img/aladino_running.png';
$aladino_10 = 92px 66px -92px -66px 46px 66px 230px 198px '../../../img/aladino_running.png' 'aladino_10';
$aladino_11_name = 'aladino_11';
$aladino_11_x = 92px;
$aladino_11_y = 0px;
$aladino_11_offset_x = -92px;
$aladino_11_offset_y = 0px;
$aladino_11_width = 46px;
$aladino_11_height = 66px;
$aladino_11_total_width = 230px;
$aladino_11_total_height = 198px;
$aladino_11_image = '../../../img/aladino_running.png';
$aladino_11 = 92px 0px -92px 0px 46px 66px 230px 198px '../../../img/aladino_running.png' 'aladino_11';
$aladino_2_name = 'aladino_2';
$aladino_2_x = 0px;
$aladino_2_y = 66px;
$aladino_2_offset_x = 0px;
$aladino_2_offset_y = -66px;
$aladino_2_width = 46px;
$aladino_2_height = 66px;
$aladino_2_total_width = 230px;
$aladino_2_total_height = 198px;
$aladino_2_image = '../../../img/aladino_running.png';
$aladino_2 = 0px 66px 0px -66px 46px 66px 230px 198px '../../../img/aladino_running.png' 'aladino_2';
$aladino_3_name = 'aladino_3';
$aladino_3_x = 46px;
$aladino_3_y = 66px;
$aladino_3_offset_x = -46px;
$aladino_3_offset_y = -66px;
$aladino_3_width = 46px;
$aladino_3_height = 66px;
$aladino_3_total_width = 230px;
$aladino_3_total_height = 198px;
$aladino_3_image = '../../../img/aladino_running.png';
$aladino_3 = 46px 66px -46px -66px 46px 66px 230px 198px '../../../img/aladino_running.png' 'aladino_3';
$aladino_4_name = 'aladino_4';
$aladino_4_x = 0px;
$aladino_4_y = 0px;
$aladino_4_offset_x = 0px;
$aladino_4_offset_y = 0px;
$aladino_4_width = 46px;
$aladino_4_height = 66px;
$aladino_4_total_width = 230px;
$aladino_4_total_height = 198px;
$aladino_4_image = '../../../img/aladino_running.png';
$aladino_4 = 0px 0px 0px 0px 46px 66px 230px 198px '../../../img/aladino_running.png' 'aladino_4';
$aladino_5_name = 'aladino_5';
$aladino_5_x = 138px;
$aladino_5_y = 0px;
$aladino_5_offset_x = -138px;
$aladino_5_offset_y = 0px;
$aladino_5_width = 46px;
$aladino_5_height = 66px;
$aladino_5_total_width = 230px;
$aladino_5_total_height = 198px;
$aladino_5_image = '../../../img/aladino_running.png';
$aladino_5 = 138px 0px -138px 0px 46px 66px 230px 198px '../../../img/aladino_running.png' 'aladino_5';
$aladino_6_name = 'aladino_6';
$aladino_6_x = 138px;
$aladino_6_y = 66px;
$aladino_6_offset_x = -138px;
$aladino_6_offset_y = -66px;
$aladino_6_width = 46px;
$aladino_6_height = 66px;
$aladino_6_total_width = 230px;
$aladino_6_total_height = 198px;
$aladino_6_image = '../../../img/aladino_running.png';
$aladino_6 = 138px 66px -138px -66px 46px 66px 230px 198px '../../../img/aladino_running.png' 'aladino_6';
$aladino_7_name = 'aladino_7';
$aladino_7_x = 184px;
$aladino_7_y = 0px;
$aladino_7_offset_x = -184px;
$aladino_7_offset_y = 0px;
$aladino_7_width = 46px;
$aladino_7_height = 66px;
$aladino_7_total_width = 230px;
$aladino_7_total_height = 198px;
$aladino_7_image = '../../../img/aladino_running.png';
$aladino_7 = 184px 0px -184px 0px 46px 66px 230px 198px '../../../img/aladino_running.png' 'aladino_7';
$aladino_8_name = 'aladino_8';
$aladino_8_x = 184px;
$aladino_8_y = 66px;
$aladino_8_offset_x = -184px;
$aladino_8_offset_y = -66px;
$aladino_8_width = 46px;
$aladino_8_height = 66px;
$aladino_8_total_width = 230px;
$aladino_8_total_height = 198px;
$aladino_8_image = '../../../img/aladino_running.png';
$aladino_8 = 184px 66px -184px -66px 46px 66px 230px 198px '../../../img/aladino_running.png' 'aladino_8';
$aladino_9_name = 'aladino_9';
$aladino_9_x = 0px;
$aladino_9_y = 132px;
$aladino_9_offset_x = 0px;
$aladino_9_offset_y = -132px;
$aladino_9_width = 46px;
$aladino_9_height = 66px;
$aladino_9_total_width = 230px;
$aladino_9_total_height = 198px;
$aladino_9_image = '../../../img/aladino_running.png';
$aladino_9 = 0px 132px 0px -132px 46px 66px 230px 198px '../../../img/aladino_running.png' 'aladino_9';
$spritesheet_width = 230px;
$spritesheet_height = 198px;
$spritesheet_image = '../../../img/aladino_running.png';
$spritesheet_sprites = $aladino_1 $aladino_10 $aladino_11 $aladino_2 $aladino_3 $aladino_4 $aladino_5 $aladino_6 $aladino_7 $aladino_8 $aladino_9;
$spritesheet = 230px 198px '../../../img/aladino_running.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
