/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$agencias_x = 80px;
$agencias_y = 206px;
$agencias_offset_x = -80px;
$agencias_offset_y = -206px;
$agencias_width = 26px;
$agencias_height = 26px;
$agencias_total_width = 257px;
$agencias_total_height = 233px;
$agencias_image = '../../../img/main_sprite.png';
$agencias = 80px 206px -80px -206px 26px 26px 257px 233px '../../../img/main_sprite.png';
$agentes_x = 54px;
$agentes_y = 206px;
$agentes_offset_x = -54px;
$agentes_offset_y = -206px;
$agentes_width = 26px;
$agentes_height = 26px;
$agentes_total_width = 257px;
$agentes_total_height = 233px;
$agentes_image = '../../../img/main_sprite.png';
$agentes = 54px 206px -54px -206px 26px 26px 257px 233px '../../../img/main_sprite.png';
$arrow_x = 0px;
$arrow_y = 124px;
$arrow_offset_x = 0px;
$arrow_offset_y = -124px;
$arrow_width = 64px;
$arrow_height = 55px;
$arrow_total_width = 257px;
$arrow_total_height = 233px;
$arrow_image = '../../../img/main_sprite.png';
$arrow = 0px 124px 0px -124px 64px 55px 257px 233px '../../../img/main_sprite.png';
$arrow_medium_x = 135px;
$arrow_medium_y = 0px;
$arrow_medium_offset_x = -135px;
$arrow_medium_offset_y = 0px;
$arrow_medium_width = 63px;
$arrow_medium_height = 59px;
$arrow_medium_total_width = 257px;
$arrow_medium_total_height = 233px;
$arrow_medium_image = '../../../img/main_sprite.png';
$arrow_medium = 135px 0px -135px 0px 63px 59px 257px 233px '../../../img/main_sprite.png';
$balances_icon_x = 0px;
$balances_icon_y = 0px;
$balances_icon_offset_x = 0px;
$balances_icon_offset_y = 0px;
$balances_icon_width = 45px;
$balances_icon_height = 62px;
$balances_icon_total_width = 257px;
$balances_icon_total_height = 233px;
$balances_icon_image = '../../../img/main_sprite.png';
$balances_icon = 0px 0px 0px 0px 45px 62px 257px 233px '../../../img/main_sprite.png';
$banner_background_left_x = 198px;
$banner_background_left_y = 73px;
$banner_background_left_offset_x = -198px;
$banner_background_left_offset_y = -73px;
$banner_background_left_width = 34px;
$banner_background_left_height = 35px;
$banner_background_left_total_width = 257px;
$banner_background_left_total_height = 233px;
$banner_background_left_image = '../../../img/main_sprite.png';
$banner_background_left = 198px 73px -198px -73px 34px 35px 257px 233px '../../../img/main_sprite.png';
$banner_background_right_x = 198px;
$banner_background_right_y = 38px;
$banner_background_right_offset_x = -198px;
$banner_background_right_offset_y = -38px;
$banner_background_right_width = 34px;
$banner_background_right_height = 35px;
$banner_background_right_total_width = 257px;
$banner_background_right_total_height = 233px;
$banner_background_right_image = '../../../img/main_sprite.png';
$banner_background_right = 198px 38px -198px -38px 34px 35px 257px 233px '../../../img/main_sprite.png';
$benefits_icon_x = 0px;
$benefits_icon_y = 62px;
$benefits_icon_offset_x = 0px;
$benefits_icon_offset_y = -62px;
$benefits_icon_width = 45px;
$benefits_icon_height = 62px;
$benefits_icon_total_width = 257px;
$benefits_icon_total_height = 233px;
$benefits_icon_image = '../../../img/main_sprite.png';
$benefits_icon = 0px 62px 0px -62px 45px 62px 257px 233px '../../../img/main_sprite.png';
$button_back_x = 138px;
$button_back_y = 124px;
$button_back_offset_x = -138px;
$button_back_offset_y = -124px;
$button_back_width = 15px;
$button_back_height = 42px;
$button_back_total_width = 257px;
$button_back_total_height = 233px;
$button_back_image = '../../../img/main_sprite.png';
$button_back = 138px 124px -138px -124px 15px 42px 257px 233px '../../../img/main_sprite.png';
$button_back_shadow_x = 135px;
$button_back_shadow_y = 59px;
$button_back_shadow_offset_x = -135px;
$button_back_shadow_offset_y = -59px;
$button_back_shadow_width = 15px;
$button_back_shadow_height = 45px;
$button_back_shadow_total_width = 257px;
$button_back_shadow_total_height = 233px;
$button_back_shadow_image = '../../../img/main_sprite.png';
$button_back_shadow = 135px 59px -135px -59px 15px 45px 257px 233px '../../../img/main_sprite.png';
$button_back_unactive_x = 180px;
$button_back_unactive_y = 59px;
$button_back_unactive_offset_x = -180px;
$button_back_unactive_offset_y = -59px;
$button_back_unactive_width = 15px;
$button_back_unactive_height = 42px;
$button_back_unactive_total_width = 257px;
$button_back_unactive_total_height = 233px;
$button_back_unactive_image = '../../../img/main_sprite.png';
$button_back_unactive = 180px 59px -180px -59px 15px 42px 257px 233px '../../../img/main_sprite.png';
$button_front_x = 153px;
$button_front_y = 124px;
$button_front_offset_x = -153px;
$button_front_offset_y = -124px;
$button_front_width = 30px;
$button_front_height = 42px;
$button_front_total_width = 257px;
$button_front_total_height = 233px;
$button_front_image = '../../../img/main_sprite.png';
$button_front = 153px 124px -153px -124px 30px 42px 257px 233px '../../../img/main_sprite.png';
$button_front_shadow_x = 150px;
$button_front_shadow_y = 59px;
$button_front_shadow_offset_x = -150px;
$button_front_shadow_offset_y = -59px;
$button_front_shadow_width = 30px;
$button_front_shadow_height = 45px;
$button_front_shadow_total_width = 257px;
$button_front_shadow_total_height = 233px;
$button_front_shadow_image = '../../../img/main_sprite.png';
$button_front_shadow = 150px 59px -150px -59px 30px 45px 257px 233px '../../../img/main_sprite.png';
$button_front_unactive_x = 108px;
$button_front_unactive_y = 124px;
$button_front_unactive_offset_x = -108px;
$button_front_unactive_offset_y = -124px;
$button_front_unactive_width = 30px;
$button_front_unactive_height = 42px;
$button_front_unactive_total_width = 257px;
$button_front_unactive_total_height = 233px;
$button_front_unactive_image = '../../../img/main_sprite.png';
$button_front_unactive = 108px 124px -108px -124px 30px 42px 257px 233px '../../../img/main_sprite.png';
$cajeros_x = 106px;
$cajeros_y = 206px;
$cajeros_offset_x = -106px;
$cajeros_offset_y = -206px;
$cajeros_width = 26px;
$cajeros_height = 26px;
$cajeros_total_width = 257px;
$cajeros_total_height = 233px;
$cajeros_image = '../../../img/main_sprite.png';
$cajeros = 106px 206px -106px -206px 26px 26px 257px 233px '../../../img/main_sprite.png';
$close_modal_x = 182px;
$close_modal_y = 206px;
$close_modal_offset_x = -182px;
$close_modal_offset_y = -206px;
$close_modal_width = 23px;
$close_modal_height = 23px;
$close_modal_total_width = 257px;
$close_modal_total_height = 233px;
$close_modal_image = '../../../img/main_sprite.png';
$close_modal = 182px 206px -182px -206px 23px 23px 257px 233px '../../../img/main_sprite.png';
$close_sesion_x = 240px;
$close_sesion_y = 138px;
$close_sesion_offset_x = -240px;
$close_sesion_offset_y = -138px;
$close_sesion_width = 15px;
$close_sesion_height = 15px;
$close_sesion_total_width = 257px;
$close_sesion_total_height = 233px;
$close_sesion_image = '../../../img/main_sprite.png';
$close_sesion = 240px 138px -240px -138px 15px 15px 257px 233px '../../../img/main_sprite.png';
$data_icon_x = 90px;
$data_icon_y = 0px;
$data_icon_offset_x = -90px;
$data_icon_offset_y = 0px;
$data_icon_width = 45px;
$data_icon_height = 62px;
$data_icon_total_width = 257px;
$data_icon_total_height = 233px;
$data_icon_image = '../../../img/main_sprite.png';
$data_icon = 90px 0px -90px 0px 45px 62px 257px 233px '../../../img/main_sprite.png';
$footer_question_x = 175px;
$footer_question_y = 104px;
$footer_question_offset_x = -175px;
$footer_question_offset_y = -104px;
$footer_question_width = 19px;
$footer_question_height = 19px;
$footer_question_total_width = 257px;
$footer_question_total_height = 233px;
$footer_question_image = '../../../img/main_sprite.png';
$footer_question = 175px 104px -175px -104px 19px 19px 257px 233px '../../../img/main_sprite.png';
$footer_question_hover_x = 205px;
$footer_question_hover_y = 206px;
$footer_question_hover_offset_x = -205px;
$footer_question_hover_offset_y = -206px;
$footer_question_hover_width = 19px;
$footer_question_hover_height = 19px;
$footer_question_hover_total_width = 257px;
$footer_question_hover_total_height = 233px;
$footer_question_hover_image = '../../../img/main_sprite.png';
$footer_question_hover = 205px 206px -205px -206px 19px 19px 257px 233px '../../../img/main_sprite.png';
$info_x = 64px;
$info_y = 124px;
$info_offset_x = -64px;
$info_offset_y = -124px;
$info_width = 44px;
$info_height = 44px;
$info_total_width = 257px;
$info_total_height = 233px;
$info_image = '../../../img/main_sprite.png';
$info = 64px 124px -64px -124px 44px 44px 257px 233px '../../../img/main_sprite.png';
$info_movil_x = 198px;
$info_movil_y = 108px;
$info_movil_offset_x = -198px;
$info_movil_offset_y = -108px;
$info_movil_width = 30px;
$info_movil_height = 30px;
$info_movil_total_width = 257px;
$info_movil_total_height = 233px;
$info_movil_image = '../../../img/main_sprite.png';
$info_movil = 198px 108px -198px -108px 30px 30px 257px 233px '../../../img/main_sprite.png';
$internet_x = 132px;
$internet_y = 206px;
$internet_offset_x = -132px;
$internet_offset_y = -206px;
$internet_width = 26px;
$internet_height = 26px;
$internet_total_width = 257px;
$internet_total_height = 233px;
$internet_image = '../../../img/main_sprite.png';
$internet = 132px 206px -132px -206px 26px 26px 257px 233px '../../../img/main_sprite.png';
$number_00_x = 228px;
$number_00_y = 108px;
$number_00_offset_x = -228px;
$number_00_offset_y = -108px;
$number_00_width = 27px;
$number_00_height = 27px;
$number_00_total_width = 257px;
$number_00_total_height = 233px;
$number_00_image = '../../../img/main_sprite.png';
$number_00 = 228px 108px -228px -108px 27px 27px 257px 233px '../../../img/main_sprite.png';
$number_01_x = 110px;
$number_01_y = 179px;
$number_01_offset_x = -110px;
$number_01_offset_y = -179px;
$number_01_width = 27px;
$number_01_height = 27px;
$number_01_total_width = 257px;
$number_01_total_height = 233px;
$number_01_image = '../../../img/main_sprite.png';
$number_01 = 110px 179px -110px -179px 27px 27px 257px 233px '../../../img/main_sprite.png';
$number_02_x = 137px;
$number_02_y = 179px;
$number_02_offset_x = -137px;
$number_02_offset_y = -179px;
$number_02_width = 27px;
$number_02_height = 27px;
$number_02_total_width = 257px;
$number_02_total_height = 233px;
$number_02_image = '../../../img/main_sprite.png';
$number_02 = 137px 179px -137px -179px 27px 27px 257px 233px '../../../img/main_sprite.png';
$number_03_x = 164px;
$number_03_y = 179px;
$number_03_offset_x = -164px;
$number_03_offset_y = -179px;
$number_03_width = 27px;
$number_03_height = 27px;
$number_03_total_width = 257px;
$number_03_total_height = 233px;
$number_03_image = '../../../img/main_sprite.png';
$number_03 = 164px 179px -164px -179px 27px 27px 257px 233px '../../../img/main_sprite.png';
$number_04_x = 191px;
$number_04_y = 179px;
$number_04_offset_x = -191px;
$number_04_offset_y = -179px;
$number_04_width = 27px;
$number_04_height = 27px;
$number_04_total_width = 257px;
$number_04_total_height = 233px;
$number_04_image = '../../../img/main_sprite.png';
$number_04 = 191px 179px -191px -179px 27px 27px 257px 233px '../../../img/main_sprite.png';
$number_05_x = 218px;
$number_05_y = 179px;
$number_05_offset_x = -218px;
$number_05_offset_y = -179px;
$number_05_width = 27px;
$number_05_height = 27px;
$number_05_total_width = 257px;
$number_05_total_height = 233px;
$number_05_image = '../../../img/main_sprite.png';
$number_05 = 218px 179px -218px -179px 27px 27px 257px 233px '../../../img/main_sprite.png';
$number_06_x = 0px;
$number_06_y = 206px;
$number_06_offset_x = 0px;
$number_06_offset_y = -206px;
$number_06_width = 27px;
$number_06_height = 27px;
$number_06_total_width = 257px;
$number_06_total_height = 233px;
$number_06_image = '../../../img/main_sprite.png';
$number_06 = 0px 206px 0px -206px 27px 27px 257px 233px '../../../img/main_sprite.png';
$number_07_x = 27px;
$number_07_y = 206px;
$number_07_offset_x = -27px;
$number_07_offset_y = -206px;
$number_07_width = 27px;
$number_07_height = 27px;
$number_07_total_width = 257px;
$number_07_total_height = 233px;
$number_07_image = '../../../img/main_sprite.png';
$number_07 = 27px 206px -27px -206px 27px 27px 257px 233px '../../../img/main_sprite.png';
$number_08_x = 83px;
$number_08_y = 179px;
$number_08_offset_x = -83px;
$number_08_offset_y = -179px;
$number_08_width = 27px;
$number_08_height = 27px;
$number_08_total_width = 257px;
$number_08_total_height = 233px;
$number_08_image = '../../../img/main_sprite.png';
$number_08 = 83px 179px -83px -179px 27px 27px 257px 233px '../../../img/main_sprite.png';
$number_09_x = 56px;
$number_09_y = 179px;
$number_09_offset_x = -56px;
$number_09_offset_y = -179px;
$number_09_width = 27px;
$number_09_height = 27px;
$number_09_total_width = 257px;
$number_09_total_height = 233px;
$number_09_image = '../../../img/main_sprite.png';
$number_09 = 56px 179px -56px -179px 27px 27px 257px 233px '../../../img/main_sprite.png';
$number_clean_x = 0px;
$number_clean_y = 179px;
$number_clean_offset_x = 0px;
$number_clean_offset_y = -179px;
$number_clean_width = 56px;
$number_clean_height = 27px;
$number_clean_total_width = 257px;
$number_clean_total_height = 233px;
$number_clean_image = '../../../img/main_sprite.png';
$number_clean = 0px 179px 0px -179px 56px 27px 257px 233px '../../../img/main_sprite.png';
$payments_icon_x = 45px;
$payments_icon_y = 0px;
$payments_icon_offset_x = -45px;
$payments_icon_offset_y = 0px;
$payments_icon_width = 45px;
$payments_icon_height = 62px;
$payments_icon_total_width = 257px;
$payments_icon_total_height = 233px;
$payments_icon_image = '../../../img/main_sprite.png';
$payments_icon = 45px 0px -45px 0px 45px 62px 257px 233px '../../../img/main_sprite.png';
$picker_x = 232px;
$picker_y = 73px;
$picker_offset_x = -232px;
$picker_offset_y = -73px;
$picker_width = 24px;
$picker_height = 24px;
$picker_total_width = 257px;
$picker_total_height = 233px;
$picker_image = '../../../img/main_sprite.png';
$picker = 232px 73px -232px -73px 24px 24px 257px 233px '../../../img/main_sprite.png';
$print_x = 155px;
$print_y = 104px;
$print_offset_x = -155px;
$print_offset_y = -104px;
$print_width = 20px;
$print_height = 20px;
$print_total_width = 257px;
$print_total_height = 233px;
$print_image = '../../../img/main_sprite.png';
$print = 155px 104px -155px -104px 20px 20px 257px 233px '../../../img/main_sprite.png';
$print_white_x = 135px;
$print_white_y = 104px;
$print_white_offset_x = -135px;
$print_white_offset_y = -104px;
$print_white_width = 20px;
$print_white_height = 20px;
$print_white_total_width = 257px;
$print_white_total_height = 233px;
$print_white_image = '../../../img/main_sprite.png';
$print_white = 135px 104px -135px -104px 20px 20px 257px 233px '../../../img/main_sprite.png';
$question_x = 158px;
$question_y = 206px;
$question_offset_x = -158px;
$question_offset_y = -206px;
$question_width = 24px;
$question_height = 24px;
$question_total_width = 257px;
$question_total_height = 233px;
$question_image = '../../../img/main_sprite.png';
$question = 158px 206px -158px -206px 24px 24px 257px 233px '../../../img/main_sprite.png';
$recharge_icon_x = 45px;
$recharge_icon_y = 62px;
$recharge_icon_offset_x = -45px;
$recharge_icon_offset_y = -62px;
$recharge_icon_width = 45px;
$recharge_icon_height = 62px;
$recharge_icon_total_width = 257px;
$recharge_icon_total_height = 233px;
$recharge_icon_image = '../../../img/main_sprite.png';
$recharge_icon = 45px 62px -45px -62px 45px 62px 257px 233px '../../../img/main_sprite.png';
$right_indicator_x = 224px;
$right_indicator_y = 206px;
$right_indicator_offset_x = -224px;
$right_indicator_offset_y = -206px;
$right_indicator_width = 19px;
$right_indicator_height = 15px;
$right_indicator_total_width = 257px;
$right_indicator_total_height = 233px;
$right_indicator_image = '../../../img/main_sprite.png';
$right_indicator = 224px 206px -224px -206px 19px 15px 257px 233px '../../../img/main_sprite.png';
$safety_x = 232px;
$safety_y = 38px;
$safety_offset_x = -232px;
$safety_offset_y = -38px;
$safety_width = 20px;
$safety_height = 25px;
$safety_total_width = 257px;
$safety_total_height = 233px;
$safety_image = '../../../img/main_sprite.png';
$safety = 232px 38px -232px -38px 20px 25px 257px 233px '../../../img/main_sprite.png';
$select_x = 232px;
$select_y = 97px;
$select_offset_x = -232px;
$select_offset_y = -97px;
$select_width = 17px;
$select_height = 11px;
$select_total_width = 257px;
$select_total_height = 233px;
$select_image = '../../../img/main_sprite.png';
$select = 232px 97px -232px -97px 17px 11px 257px 233px '../../../img/main_sprite.png';
$send_pin_x = 198px;
$send_pin_y = 0px;
$send_pin_offset_x = -198px;
$send_pin_offset_y = 0px;
$send_pin_width = 59px;
$send_pin_height = 38px;
$send_pin_total_width = 257px;
$send_pin_total_height = 233px;
$send_pin_image = '../../../img/main_sprite.png';
$send_pin = 198px 0px -198px 0px 59px 38px 257px 233px '../../../img/main_sprite.png';
$transfers_icon_x = 90px;
$transfers_icon_y = 62px;
$transfers_icon_offset_x = -90px;
$transfers_icon_offset_y = -62px;
$transfers_icon_width = 45px;
$transfers_icon_height = 62px;
$transfers_icon_total_width = 257px;
$transfers_icon_total_height = 233px;
$transfers_icon_image = '../../../img/main_sprite.png';
$transfers_icon = 90px 62px -90px -62px 45px 62px 257px 233px '../../../img/main_sprite.png';
$triangle_cloud_x = 198px;
$triangle_cloud_y = 166px;
$triangle_cloud_offset_x = -198px;
$triangle_cloud_offset_y = -166px;
$triangle_cloud_width = 25px;
$triangle_cloud_height = 11px;
$triangle_cloud_total_width = 257px;
$triangle_cloud_total_height = 233px;
$triangle_cloud_image = '../../../img/main_sprite.png';
$triangle_cloud = 198px 166px -198px -166px 25px 11px 257px 233px '../../../img/main_sprite.png';
$visa_card_x = 198px;
$visa_card_y = 138px;
$visa_card_offset_x = -198px;
$visa_card_offset_y = -138px;
$visa_card_width = 42px;
$visa_card_height = 28px;
$visa_card_total_width = 257px;
$visa_card_total_height = 233px;
$visa_card_image = '../../../img/main_sprite.png';
$visa_card = 198px 138px -198px -138px 42px 28px 257px 233px '../../../img/main_sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
