/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$number_00_x = 0px;
$number_00_y = 0px;
$number_00_offset_x = 0px;
$number_00_offset_y = 0px;
$number_00_width = 27px;
$number_00_height = 27px;
$number_00_total_width = 108px;
$number_00_total_height = 81px;
$number_00_image = '../../../img/main_sprite.png';
$number_00 = 0px 0px 0px 0px 27px 27px 108px 81px '../../../img/main_sprite.png';
$number_01_x = 27px;
$number_01_y = 0px;
$number_01_offset_x = -27px;
$number_01_offset_y = 0px;
$number_01_width = 27px;
$number_01_height = 27px;
$number_01_total_width = 108px;
$number_01_total_height = 81px;
$number_01_image = '../../../img/main_sprite.png';
$number_01 = 27px 0px -27px 0px 27px 27px 108px 81px '../../../img/main_sprite.png';
$number_02_x = 0px;
$number_02_y = 27px;
$number_02_offset_x = 0px;
$number_02_offset_y = -27px;
$number_02_width = 27px;
$number_02_height = 27px;
$number_02_total_width = 108px;
$number_02_total_height = 81px;
$number_02_image = '../../../img/main_sprite.png';
$number_02 = 0px 27px 0px -27px 27px 27px 108px 81px '../../../img/main_sprite.png';
$number_03_x = 27px;
$number_03_y = 27px;
$number_03_offset_x = -27px;
$number_03_offset_y = -27px;
$number_03_width = 27px;
$number_03_height = 27px;
$number_03_total_width = 108px;
$number_03_total_height = 81px;
$number_03_image = '../../../img/main_sprite.png';
$number_03 = 27px 27px -27px -27px 27px 27px 108px 81px '../../../img/main_sprite.png';
$number_04_x = 54px;
$number_04_y = 0px;
$number_04_offset_x = -54px;
$number_04_offset_y = 0px;
$number_04_width = 27px;
$number_04_height = 27px;
$number_04_total_width = 108px;
$number_04_total_height = 81px;
$number_04_image = '../../../img/main_sprite.png';
$number_04 = 54px 0px -54px 0px 27px 27px 108px 81px '../../../img/main_sprite.png';
$number_05_x = 54px;
$number_05_y = 27px;
$number_05_offset_x = -54px;
$number_05_offset_y = -27px;
$number_05_width = 27px;
$number_05_height = 27px;
$number_05_total_width = 108px;
$number_05_total_height = 81px;
$number_05_image = '../../../img/main_sprite.png';
$number_05 = 54px 27px -54px -27px 27px 27px 108px 81px '../../../img/main_sprite.png';
$number_06_x = 0px;
$number_06_y = 54px;
$number_06_offset_x = 0px;
$number_06_offset_y = -54px;
$number_06_width = 27px;
$number_06_height = 27px;
$number_06_total_width = 108px;
$number_06_total_height = 81px;
$number_06_image = '../../../img/main_sprite.png';
$number_06 = 0px 54px 0px -54px 27px 27px 108px 81px '../../../img/main_sprite.png';
$number_07_x = 27px;
$number_07_y = 54px;
$number_07_offset_x = -27px;
$number_07_offset_y = -54px;
$number_07_width = 27px;
$number_07_height = 27px;
$number_07_total_width = 108px;
$number_07_total_height = 81px;
$number_07_image = '../../../img/main_sprite.png';
$number_07 = 27px 54px -27px -54px 27px 27px 108px 81px '../../../img/main_sprite.png';
$number_08_x = 54px;
$number_08_y = 54px;
$number_08_offset_x = -54px;
$number_08_offset_y = -54px;
$number_08_width = 27px;
$number_08_height = 27px;
$number_08_total_width = 108px;
$number_08_total_height = 81px;
$number_08_image = '../../../img/main_sprite.png';
$number_08 = 54px 54px -54px -54px 27px 27px 108px 81px '../../../img/main_sprite.png';
$number_09_x = 81px;
$number_09_y = 0px;
$number_09_offset_x = -81px;
$number_09_offset_y = 0px;
$number_09_width = 27px;
$number_09_height = 27px;
$number_09_total_width = 108px;
$number_09_total_height = 81px;
$number_09_image = '../../../img/main_sprite.png';
$number_09 = 81px 0px -81px 0px 27px 27px 108px 81px '../../../img/main_sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
