/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$button_shadow_x = 360px;
$button_shadow_y = 0px;
$button_shadow_offset_x = -360px;
$button_shadow_offset_y = 0px;
$button_shadow_width = 376px;
$button_shadow_height = 54px;
$button_shadow_total_width = 736px;
$button_shadow_total_height = 160px;
$button_shadow_image = '../../../img/second_sprite.png';
$button_shadow = 360px 0px -360px 0px 376px 54px 736px 160px '../../../img/second_sprite.png';
$buttton_steps_background_x = 360px;
$buttton_steps_background_y = 54px;
$buttton_steps_background_offset_x = -360px;
$buttton_steps_background_offset_y = -54px;
$buttton_steps_background_width = 160px;
$buttton_steps_background_height = 34px;
$buttton_steps_background_total_width = 736px;
$buttton_steps_background_total_height = 160px;
$buttton_steps_background_image = '../../../img/second_sprite.png';
$buttton_steps_background = 360px 54px -360px -54px 160px 34px 736px 160px '../../../img/second_sprite.png';
$item_menu_x = 0px;
$item_menu_y = 0px;
$item_menu_offset_x = 0px;
$item_menu_offset_y = 0px;
$item_menu_width = 223px;
$item_menu_height = 80px;
$item_menu_total_width = 736px;
$item_menu_total_height = 160px;
$item_menu_image = '../../../img/second_sprite.png';
$item_menu = 0px 0px 0px 0px 223px 80px 736px 160px '../../../img/second_sprite.png';
$item_menu_active_x = 0px;
$item_menu_active_y = 80px;
$item_menu_active_offset_x = 0px;
$item_menu_active_offset_y = -80px;
$item_menu_active_width = 223px;
$item_menu_active_height = 80px;
$item_menu_active_total_width = 736px;
$item_menu_active_total_height = 160px;
$item_menu_active_image = '../../../img/second_sprite.png';
$item_menu_active = 0px 80px 0px -80px 223px 80px 736px 160px '../../../img/second_sprite.png';
$line_code_x = 360px;
$line_code_y = 88px;
$line_code_offset_x = -360px;
$line_code_offset_y = -88px;
$line_code_width = 166px;
$line_code_height = 7px;
$line_code_total_width = 736px;
$line_code_total_height = 160px;
$line_code_image = '../../../img/second_sprite.png';
$line_code = 360px 88px -360px -88px 166px 7px 736px 160px '../../../img/second_sprite.png';
$message_background_x = 520px;
$message_background_y = 54px;
$message_background_offset_x = -520px;
$message_background_offset_y = -54px;
$message_background_width = 51px;
$message_background_height = 34px;
$message_background_total_width = 736px;
$message_background_total_height = 160px;
$message_background_image = '../../../img/second_sprite.png';
$message_background = 520px 54px -520px -54px 51px 34px 736px 160px '../../../img/second_sprite.png';
$step_active_x = 223px;
$step_active_y = 0px;
$step_active_offset_x = -223px;
$step_active_offset_y = 0px;
$step_active_width = 137px;
$step_active_height = 67px;
$step_active_total_width = 736px;
$step_active_total_height = 160px;
$step_active_image = '../../../img/second_sprite.png';
$step_active = 223px 0px -223px 0px 137px 67px 736px 160px '../../../img/second_sprite.png';
$step_unactive_x = 223px;
$step_unactive_y = 67px;
$step_unactive_offset_x = -223px;
$step_unactive_offset_y = -67px;
$step_unactive_width = 137px;
$step_unactive_height = 67px;
$step_unactive_total_width = 736px;
$step_unactive_total_height = 160px;
$step_unactive_image = '../../../img/second_sprite.png';
$step_unactive = 223px 67px -223px -67px 137px 67px 736px 160px '../../../img/second_sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
