/*
* Config
* @class Config
*/

/* Paths */
$imgPath       = '/img/'
$fontPath      	= '/fonts/'

/* font family variables */
$familyDefault = 'Helvetica' ,'arial', 'sans-serif'
$familyPrimary = 'IndyPimp' ,'arial', 'sans-serif'
$basefont = 14px
$tabletfont = 13px
$mobilefont = 15px

$debug = false

/* Color variables */
$green 			= #6ad934

/* Disableds*/




/* Layout variables */
$wrapperWidth = 960px
$gutterWrapper = 0px
$wrapperRupture = $wrapperWidth - $gutterWrapper*2
