.icon
	-webkit-font-smoothing antialiased
	display inline-block
	font-family "Icons-webfont"
	font-size inherit
	font-style normal
	font-variant normal
	font-weight normal
	line-height 1
	text-decoration inherit
	text-transform none
	vertical-align middle


.icon_calendar:before
	content "\"

.icon_pointer:before
	content "\"
