/*
* Font Styles
* @module fonts
**/
@require '../_base/variables'

@font-face
	font-family "Helvetica"
	src url($fontPath + "Helvetica/Helvetica-webfont.eot")
	src url($fontPath + "Helvetica/Helvetica-webfont.eot?#iefix") format("embedded-opentype"), \
		url($fontPath + "Helvetica/Helvetica-webfont.woff") format("woff"), \
		url($fontPath + "Helvetica/Helvetica-webfont.ttf") format("truetype"), \
		url($fontPath + "Helvetica/Helvetica-webfont.svg#Helvetica") format("svg");
	font-style normal
	font-weight normal

@font-face
	font-family "IndyPimp"
	src url($fontPath + "IndyPimp/IndyPimp-webfont.eot")
	src url($fontPath + "IndyPimp/IndyPimp-webfont.eot?#iefix") format("embedded-opentype"), \
		url($fontPath + "IndyPimp/IndyPimp-webfont.woff") format("woff"), \
		url($fontPath + "IndyPimp/IndyPimp-webfont.ttf") format("truetype"), \
		url($fontPath + "IndyPimp/IndyPimp-webfont.svg#IndyPimp") format("svg");
	font-style normal
	font-weight normal

@font-face
	font-family "iconFonts"
	src url($fontPath + "iconFonts/iconFonts-webfont.eot")
	src url($fontPath + "iconFonts/iconFonts-webfont.eot?#iefix") format("embedded-opentype"), \
		url($fontPath + "iconFonts/iconFonts-webfont.woff") format("woff"), \
		url($fontPath + "iconFonts/iconFonts-webfont.ttf") format("truetype"), \
		url($fontPath + "iconFonts/iconFonts-webfont.svg#iconFonts") format("svg");
	font-style normal
	font-weight normal
