extends ../layout/layout.jade
block content
  div.welcome
    svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", width="300px", height="300px", viewbox="0 0 100 100", enable-background="new 0 0 100 100", xml:space="preserve")
      g
        path(fill="#FFFFFF", d="M68.076,68.561c0.135-0.496,0.246-1.004,0.346-1.516c-0.541,0.41-1.092,0.826-1.648,1.248\
        C67.268,68.293,67.701,68.391,68.076,68.561z")
        path(fill="#FFFFFF", d="M63.832,70.983c0.02-0.187,0.055-0.37,0.104-0.546c-1.412,1.063-2.797,2.108-4.068,3.069\
        C61.199,72.678,62.492,71.792,63.832,70.983z")
        path(fill="#FFFFFF", d="M63.936,70.438c0.943-0.713,1.898-1.433,2.838-2.145c-0.002,0-0.002,0-0.002,0\
        C65.195,68.293,64.256,69.266,63.936,70.438z")
        g
          g
            circle(fill="#DBD83D", cx="43.619", cy="11.122", r="2.791")
            circle(fill="#DBD83D", cx="49.922", cy="11.454", r="1.822")
            circle(fill="#DBD83D", cx="49.922", cy="19.102", r="4.188")
          g
            polygon(fill="#2FAEC8", points="39.641,24.271 43.514,24.271 43.514,29.516       ")
            path(fill="#2FAEC8", d="M43.168,41.048c-0.088,0.018-0.248,0-0.23-0.109c-0.285-4.908-0.857-11.445-1.352-16.36\
            c-0.021-0.103-0.01-0.158,0.119-0.184c1.25-0.264,3.09,0.006,3.053,0.571c-0.076,4.137-0.117,9.693-0.473,15.634\
            c-0.004,0.132-0.686,0.355-1.074,0.438L43.168,41.048z")
            polygon(fill="#2FAEC8", points="61.295,24.271 57.424,24.271 57.424,29.516       ")
            path(fill="#2FAEC8", d="M57.725,41.039c-0.389-0.082-1.072-0.305-1.074-0.438c-0.357-5.941-0.396-11.498-0.471-15.634\
            c-0.041-0.565,1.801-0.835,3.053-0.571c0.129,0.026,0.139,0.082,0.117,0.184c-0.492,4.915-1.068,11.452-1.352,16.36\
            c0.018,0.109-0.145,0.127-0.229,0.109L57.725,41.039z")
          path(fill="#DBD83D", d="M46.801,75.41c2.355-0.162,4.551-0.266,6.662-0.309c0.074-0.156,0.176-0.298,0.303-0.423\
          c2.932-3.33,8.059-9.6,11.754-14.236c-1.033-1.419-2.49-3.381-4.266-5.743c-0.668,0.203-1.393,0.445-2.152,0.697\
          c-4.066,1.346-9.639,3.193-17.334,3.193c-1.809,0-3.672-0.104-5.545-0.311c-0.586,0.791-1.125,1.522-1.592,2.163\
          c3.693,4.632,8.816,10.902,11.795,14.278C46.555,74.848,46.727,75.078,46.801,75.41z")
          g
            path(fill="#2FAEC8", d="M22.961,60.988c0-0.21,0.105-0.625,0.416-0.936c4.047-3.839,15.15-13.49,18.988-17.017\
            c0.209-0.103,0.313-0.103,0.414,0c0.729,0.83,1.039,1.349,0.623,1.867c-3.215,4.15-9.025,11.83-11.725,15.566\
            c3.633,4.566,9.131,11.31,12.244,14.841c0.416,0.413,0.104,1.034-0.414,1.761c-0.105,0.107-0.207,0.207-0.416,0\
            c-3.943-3.113-15.875-11.932-19.818-15.149c-0.207-0.207-0.313-0.519-0.313-0.831V60.988z")
            path(fill="#2FAEC8", d="M77.188,61.09c0,0.313-0.104,0.624-0.311,0.831C72.934,65.139,61,73.957,57.059,77.07\
            c-0.209,0.207-0.313,0.107-0.416,0c-0.518-0.727-0.832-1.348-0.416-1.761c3.113-3.531,8.611-10.274,12.246-14.841\
            c-2.699-3.736-8.51-11.416-11.727-15.566c-0.416-0.518-0.104-1.038,0.623-1.867c0.104-0.103,0.207-0.103,0.414,0\
            c3.84,3.527,14.943,13.178,18.99,17.017c0.311,0.311,0.414,0.726,0.414,0.936V61.09z")
      g
        g
          path(fill="#FFFFFF", d="M9.293,84.391h0.843v-0.437c0-0.989,0.185-1.702,0.553-2.144c0.369-0.441,0.896-0.664,1.583-0.664\
          c0.686,0,1.258,0.094,1.717,0.281l-0.346,1.574c-0.186-0.071-0.353-0.115-0.498-0.133c-0.146-0.016-0.297-0.021-0.452-0.021\
          c-0.302,0-0.493,0.117-0.577,0.35c-0.084,0.234-0.125,0.631-0.125,1.193h1.325v1.653H11.99v6.143h-1.854v-6.143H9.293V84.391z")
          path(fill="#FFFFFF", d="M17.682,86.23c-0.25-0.094-0.479-0.141-0.687-0.141c-0.28,0-0.522,0.078-0.725,0.234\
          c-0.203,0.154-0.341,0.373-0.413,0.654v5.208h-1.855v-7.796h1.419l0.219,0.936h0.062c0.135-0.343,0.33-0.611,0.586-0.803\
          c0.254-0.192,0.547-0.289,0.88-0.289c0.249,0,0.493,0.053,0.733,0.156L17.682,86.23z")
          path(fill="#FFFFFF", d="M18.291,88.288c0-1.382,0.27-2.411,0.81-3.087c0.541-0.676,1.295-1.014,2.261-1.014\
          c1.039,0,1.814,0.344,2.324,1.029c0.508,0.686,0.764,1.711,0.764,3.071c0,1.394-0.271,2.425-0.811,3.095\
          c-0.541,0.671-1.3,1.008-2.277,1.008C19.314,92.391,18.291,91.021,18.291,88.288z M20.207,88.288c0,0.78,0.09,1.384,0.266,1.81\
          c0.178,0.426,0.473,0.64,0.889,0.64c0.396,0,0.689-0.186,0.881-0.554c0.192-0.369,0.289-1.001,0.289-1.896\
          c0-0.8-0.088-1.408-0.266-1.823c-0.176-0.416-0.478-0.625-0.904-0.625c-0.363,0-0.646,0.186-0.85,0.555\
          C20.31,86.764,20.207,87.395,20.207,88.288z")
          path(fill="#FFFFFF", d="M29.375,92.187v-4.74c0-0.571-0.066-0.972-0.201-1.2c-0.137-0.229-0.364-0.344-0.687-0.344\
          c-0.271,0-0.505,0.084-0.702,0.25c-0.197,0.167-0.338,0.375-0.421,0.625v5.409H25.51v-7.796h1.48l0.218,0.904h0.048\
          c0.187-0.302,0.441-0.559,0.764-0.771c0.322-0.214,0.744-0.32,1.264-0.32c0.311,0,0.589,0.047,0.833,0.141\
          c0.245,0.093,0.45,0.247,0.616,0.461c0.166,0.213,0.291,0.498,0.374,0.857c0.083,0.357,0.124,0.803,0.124,1.332v5.192H29.375z")
          path(fill="#FFFFFF", d="M31.902,84.391h0.857v-1.466l1.855-0.577v2.043h1.513v1.653h-1.513v3.397c0,0.449,0.045,0.764,0.133,0.951\
          s0.246,0.281,0.475,0.281c0.156,0,0.297-0.016,0.422-0.047c0.125-0.03,0.259-0.077,0.404-0.139l0.234,1.479\
          c-0.229,0.115-0.494,0.21-0.795,0.29c-0.302,0.077-0.618,0.115-0.952,0.115c-0.591,0-1.036-0.171-1.333-0.514\
          c-0.295-0.343-0.443-0.92-0.443-1.73v-4.085h-0.857V84.391z")
          path(fill="#FFFFFF", d="M42.317,91.609c-0.261,0.229-0.614,0.417-1.061,0.563c-0.448,0.145-0.915,0.219-1.403,0.219\
          c-0.541,0-1.006-0.095-1.396-0.282s-0.708-0.457-0.958-0.811c-0.251-0.353-0.436-0.782-0.555-1.286s-0.179-1.078-0.179-1.724\
          c0-1.403,0.278-2.438,0.833-3.11c0.557-0.67,1.328-1.006,2.316-1.006c0.332,0,0.654,0.051,0.967,0.148\
          c0.312,0.098,0.589,0.265,0.834,0.5c0.243,0.233,0.441,0.545,0.592,0.934c0.151,0.391,0.228,0.882,0.228,1.475\
          c0,0.229-0.014,0.473-0.04,0.732s-0.066,0.541-0.117,0.842h-3.788c0.021,0.645,0.155,1.139,0.405,1.482\
          c0.25,0.342,0.648,0.514,1.201,0.514c0.332,0,0.636-0.053,0.912-0.156c0.275-0.104,0.484-0.213,0.631-0.327L42.317,91.609z\
          M39.885,85.763c-0.396,0-0.691,0.159-0.889,0.476S38.684,87,38.652,87.571h2.152c0.031-0.593-0.031-1.042-0.188-1.349\
          C40.462,85.917,40.217,85.763,39.885,85.763z")
          path(fill="#FFFFFF", d="M47.587,92.187v-4.74c0-0.571-0.067-0.972-0.202-1.2s-0.364-0.344-0.686-0.344\
          c-0.271,0-0.506,0.084-0.701,0.25c-0.199,0.167-0.34,0.375-0.422,0.625v5.409h-1.855v-7.796h1.481l0.218,0.904h0.047\
          c0.188-0.302,0.441-0.559,0.764-0.771c0.323-0.214,0.742-0.32,1.264-0.32c0.312,0,0.589,0.047,0.834,0.141\
          c0.244,0.093,0.449,0.247,0.615,0.461c0.166,0.213,0.292,0.498,0.375,0.857c0.084,0.357,0.124,0.803,0.124,1.332v5.192H47.587z")
          path(fill="#FFFFFF", d="M56.318,89.441c0,0.438,0.005,0.874,0.017,1.311c0.011,0.436,0.051,0.92,0.124,1.45h-1.311L54.9,91.298\
          h-0.063c-0.354,0.729-0.973,1.093-1.856,1.093c-0.79,0-1.411-0.313-1.862-0.938c-0.453-0.623-0.679-1.637-0.679-3.039\
          c0-1.372,0.244-2.414,0.733-3.127c0.487-0.712,1.217-1.068,2.182-1.068c0.25,0,0.457,0.016,0.625,0.047\
          c0.166,0.031,0.327,0.084,0.482,0.156v-3.15h1.855V89.441z M53.42,90.689c0.279,0,0.502-0.07,0.669-0.211\
          c0.167-0.139,0.291-0.345,0.374-0.615v-3.68c-0.104-0.094-0.22-0.161-0.35-0.203c-0.131-0.04-0.301-0.063-0.508-0.063\
          c-0.415,0-0.727,0.188-0.936,0.561c-0.207,0.376-0.313,1.041-0.313,1.997c0,0.718,0.087,1.265,0.258,1.646\
          C52.787,90.5,53.055,90.689,53.42,90.689z")
          path(fill="#01B0CC", d="M59.108,90.331c0,0.364,0.05,0.624,0.148,0.78c0.099,0.155,0.237,0.232,0.413,0.232\
          c0.218,0,0.475-0.057,0.766-0.171l0.107,0.905c-0.135,0.082-0.323,0.15-0.568,0.203c-0.244,0.051-0.465,0.076-0.662,0.076\
          c-0.396,0-0.714-0.121-0.959-0.365c-0.243-0.244-0.367-0.673-0.367-1.287v-9.434h1.122V90.331z")
          path(fill="#01B0CC", d="M61.463,84.859c0.303-0.188,0.669-0.334,1.1-0.438c0.432-0.104,0.887-0.156,1.365-0.156\
          c0.437,0,0.787,0.065,1.053,0.195c0.264,0.13,0.473,0.307,0.622,0.529c0.152,0.224,0.251,0.479,0.298,0.764\
          c0.047,0.287,0.07,0.586,0.07,0.898c0,0.623-0.016,1.23-0.041,1.823c-0.027,0.593-0.039,1.153-0.039,1.685\
          c0,0.395,0.012,0.762,0.039,1.099c0.025,0.339,0.078,0.658,0.149,0.959H65.2l-0.272-0.92h-0.063\
          c-0.154,0.271-0.38,0.505-0.681,0.702c-0.298,0.197-0.7,0.296-1.208,0.296c-0.555,0-1.014-0.195-1.369-0.585\
          c-0.355-0.391-0.533-0.928-0.533-1.613c0-0.447,0.074-0.821,0.225-1.123c0.148-0.301,0.361-0.545,0.633-0.732\
          c0.273-0.188,0.6-0.32,0.977-0.398c0.375-0.077,0.795-0.117,1.258-0.117c0.104,0,0.207,0,0.31,0s0.213,0.006,0.326,0.016\
          c0.031-0.322,0.046-0.607,0.046-0.857c0-0.592-0.088-1.008-0.262-1.246c-0.176-0.239-0.496-0.359-0.959-0.359\
          c-0.288,0-0.603,0.045-0.943,0.133c-0.34,0.088-0.623,0.199-0.848,0.336L61.463,84.859z M64.816,88.631\
          c-0.103-0.009-0.205-0.018-0.308-0.023c-0.103-0.005-0.207-0.007-0.31-0.007c-0.245,0-0.486,0.021-0.723,0.062\
          c-0.238,0.042-0.447,0.115-0.633,0.219c-0.186,0.105-0.332,0.244-0.438,0.421c-0.11,0.177-0.163,0.401-0.163,0.671\
          c0,0.416,0.101,0.738,0.301,0.967s0.459,0.344,0.777,0.344c0.433,0,0.767-0.104,1.003-0.313c0.235-0.207,0.4-0.436,0.492-0.685\
          V88.631z")
          path(fill="#01B0CC", d="M67.779,81.271H68.9v3.712h0.047c0.428-0.52,0.992-0.78,1.701-0.78c0.799,0,1.398,0.316,1.801,0.951\
          c0.4,0.635,0.6,1.638,0.6,3.01c0,1.403-0.268,2.447-0.803,3.134s-1.293,1.028-2.27,1.028c-0.479,0-0.915-0.054-1.309-0.164\
          c-0.395-0.108-0.691-0.236-0.889-0.381V81.271z M68.9,91.049c0.146,0.082,0.325,0.147,0.538,0.194\
          c0.214,0.047,0.438,0.071,0.679,0.071c0.541,0,0.97-0.258,1.286-0.773c0.317-0.514,0.476-1.306,0.476-2.377\
          c0-0.447-0.029-0.851-0.086-1.209c-0.056-0.357-0.146-0.667-0.264-0.928c-0.119-0.26-0.275-0.459-0.468-0.6\
          c-0.194-0.141-0.425-0.211-0.694-0.211c-0.374,0-0.684,0.112-0.929,0.334c-0.243,0.225-0.423,0.529-0.538,0.914V91.049z")
          path(fill="#01B0CC", d="M74.42,90.908c0.207,0.125,0.455,0.231,0.742,0.32c0.285,0.087,0.578,0.132,0.88,0.132\
          c0.343,0,0.634-0.086,0.873-0.259c0.239-0.172,0.358-0.452,0.358-0.84c0-0.323-0.072-0.59-0.217-0.799\
          c-0.146-0.209-0.331-0.396-0.555-0.564c-0.223-0.168-0.465-0.32-0.725-0.461c-0.26-0.14-0.502-0.309-0.725-0.504\
          c-0.224-0.197-0.408-0.43-0.553-0.701c-0.146-0.269-0.219-0.61-0.219-1.023c0-0.664,0.179-1.164,0.537-1.5\
          c0.359-0.337,0.865-0.506,1.521-0.506c0.426,0,0.793,0.039,1.105,0.117s0.582,0.185,0.811,0.32l-0.295,0.935\
          c-0.199-0.104-0.428-0.189-0.688-0.257c-0.26-0.068-0.524-0.102-0.794-0.102c-0.375,0-0.647,0.078-0.819,0.234\
          c-0.173,0.155-0.256,0.399-0.256,0.732c0,0.26,0.07,0.48,0.218,0.663c0.144,0.182,0.329,0.349,0.552,0.499\
          c0.226,0.15,0.467,0.303,0.727,0.461c0.26,0.154,0.502,0.338,0.725,0.552c0.223,0.213,0.408,0.468,0.553,0.764\
          c0.146,0.297,0.221,0.669,0.221,1.115c0,0.291-0.049,0.567-0.143,0.827c-0.093,0.26-0.234,0.485-0.428,0.678\
          c-0.191,0.193-0.432,0.346-0.717,0.46c-0.287,0.114-0.623,0.171-1.007,0.171c-0.457,0-0.853-0.044-1.185-0.131\
          c-0.332-0.088-0.614-0.207-0.843-0.352L74.42,90.908z")
          path(fill="#D5DF33", d="M79.504,91.485c0-0.292,0.07-0.509,0.211-0.655c0.139-0.146,0.33-0.219,0.568-0.219\
          s0.43,0.072,0.569,0.219c0.142,0.146,0.212,0.363,0.212,0.655c0,0.301-0.07,0.524-0.212,0.671\
          c-0.14,0.145-0.331,0.217-0.569,0.217s-0.43-0.072-0.568-0.217C79.574,92.01,79.504,91.786,79.504,91.485z")
          path(fill="#D5DF33", d="M82.217,82.02c0-0.249,0.069-0.451,0.21-0.605c0.141-0.158,0.325-0.235,0.554-0.235\
          c0.229,0,0.418,0.075,0.57,0.227c0.15,0.149,0.225,0.355,0.225,0.614c0,0.25-0.074,0.445-0.225,0.585\
          c-0.152,0.142-0.341,0.212-0.57,0.212c-0.229,0-0.413-0.072-0.554-0.219S82.217,82.26,82.217,82.02z M82.42,84.391h1.121v7.796\
          H82.42V84.391z")
          path(fill="#D5DF33", d="M85.271,88.288c0-1.403,0.242-2.435,0.725-3.095c0.485-0.66,1.174-0.99,2.068-0.99\
          c0.955,0,1.66,0.338,2.111,1.014c0.453,0.676,0.68,1.699,0.68,3.071c0,1.415-0.245,2.449-0.734,3.104\
          c-0.488,0.655-1.174,0.981-2.057,0.981c-0.957,0-1.661-0.338-2.113-1.013C85.5,90.684,85.271,89.66,85.271,88.288z M86.441,88.288\
          c0,0.458,0.029,0.874,0.086,1.247c0.057,0.375,0.152,0.697,0.281,0.969c0.131,0.27,0.299,0.48,0.508,0.631\
          c0.207,0.149,0.457,0.226,0.748,0.226c0.54,0,0.944-0.241,1.215-0.726c0.271-0.482,0.406-1.266,0.406-2.347\
          c0-0.446-0.029-0.859-0.086-1.239c-0.059-0.379-0.152-0.705-0.281-0.975c-0.13-0.27-0.299-0.479-0.505-0.631\
          c-0.209-0.15-0.46-0.227-0.749-0.227c-0.53,0-0.933,0.244-1.209,0.732C86.58,86.438,86.441,87.219,86.441,88.288z")
    h1
      | Flux 2.0