/*
 * Aside
 * @module Postulante
 */

aside
	float right
	width 315px
	border-radius 5px
.draw_day
	font-family $familyPrimary
	position relative
	margin 15px 0 0 66px
	text-align right
	padding-top 25px
	span
		color white
		font-size 36px
		position absolute
		top 0
		left 55px
	.tape
		sprite($landing_date)

.draw_products
	background url($imgPath + "landing_products.png") no-repeat
	height 1220px
	width 315px