/*
* Buttons
* @module buttons
*/

.btn
	border none
	border-radius 4px
	color black
	display inline-block
	font-family $familyPrimary
	line-height 36px
	padding 0 13px
	position relative
	text-align center
	vertical-align top
