header
	.center_box
		div.logo_header
			h1 Renueva tu casa sola 1
		div.renew_your_home_header
		div.ads_win_message_header.bounceIn
			h2
				| Gana 
				span 1 de los 5 paquetes 
				| para tu casa
		
