@require '../_config/variables'
@require '../_partials/mixins/*'

body
  background #404041
  font-family 'Roboto', cursive

.welcome
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  width 300px
  height 300px
  margin auto

h1
  border-top 1px solid #696969
  text-align center
  color #9B9B9B
  font-weight normal