/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$landing_ads_name = 'landing_ads';
$landing_ads_x = 270px;
$landing_ads_y = 0px;
$landing_ads_offset_x = -270px;
$landing_ads_offset_y = 0px;
$landing_ads_width = 269px;
$landing_ads_height = 166px;
$landing_ads_total_width = 539px;
$landing_ads_total_height = 264px;
$landing_ads_image = '../../../img/main_sprite.png';
$landing_ads = 270px 0px -270px 0px 269px 166px 539px 264px '../../../img/main_sprite.png' 'landing_ads';
$landing_date_name = 'landing_date';
$landing_date_x = 270px;
$landing_date_y = 166px;
$landing_date_offset_x = -270px;
$landing_date_offset_y = -166px;
$landing_date_width = 218px;
$landing_date_height = 47px;
$landing_date_total_width = 539px;
$landing_date_total_height = 264px;
$landing_date_image = '../../../img/main_sprite.png';
$landing_date = 270px 166px -270px -166px 218px 47px 539px 264px '../../../img/main_sprite.png' 'landing_date';
$landing_home_name = 'landing_home';
$landing_home_x = 0px;
$landing_home_y = 0px;
$landing_home_offset_x = 0px;
$landing_home_offset_y = 0px;
$landing_home_width = 270px;
$landing_home_height = 224px;
$landing_home_total_width = 539px;
$landing_home_total_height = 264px;
$landing_home_image = '../../../img/main_sprite.png';
$landing_home = 0px 0px 0px 0px 270px 224px 539px 264px '../../../img/main_sprite.png' 'landing_home';
$logo_name = 'logo';
$logo_x = 0px;
$logo_y = 224px;
$logo_offset_x = 0px;
$logo_offset_y = -224px;
$logo_width = 171px;
$logo_height = 40px;
$logo_total_width = 539px;
$logo_total_height = 264px;
$logo_image = '../../../img/main_sprite.png';
$logo = 0px 224px 0px -224px 171px 40px 539px 264px '../../../img/main_sprite.png' 'logo';
$logo_facebook_name = 'logo_facebook';
$logo_facebook_x = 488px;
$logo_facebook_y = 166px;
$logo_facebook_offset_x = -488px;
$logo_facebook_offset_y = -166px;
$logo_facebook_width = 35px;
$logo_facebook_height = 35px;
$logo_facebook_total_width = 539px;
$logo_facebook_total_height = 264px;
$logo_facebook_image = '../../../img/main_sprite.png';
$logo_facebook = 488px 166px -488px -166px 35px 35px 539px 264px '../../../img/main_sprite.png' 'logo_facebook';
$pencil_name = 'pencil';
$pencil_x = 171px;
$pencil_y = 224px;
$pencil_offset_x = -171px;
$pencil_offset_y = -224px;
$pencil_width = 25px;
$pencil_height = 36px;
$pencil_total_width = 539px;
$pencil_total_height = 264px;
$pencil_image = '../../../img/main_sprite.png';
$pencil = 171px 224px -171px -224px 25px 36px 539px 264px '../../../img/main_sprite.png' 'pencil';
$spritesheet_width = 539px;
$spritesheet_height = 264px;
$spritesheet_image = '../../../img/main_sprite.png';
$spritesheet_sprites = $landing_ads $landing_date $landing_home $logo $logo_facebook $pencil;
$spritesheet = 539px 264px '../../../img/main_sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
