- var page = {}
- page.charset         = 'utf-8'
- page.lang            = 'es'
- page.url             = baseUrl
- page.static_url      = staticUrl
- page.elements_url    = elementUrl
- page.title           = 'Urbania.pe - Renueva tu casa'
- page.description     = ''
- page.keywords        = ''
- page.author          = 'Urbania.pe'
- page.name            = 'enueva tu casa'
- page.viewport        = 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0'
- page.robots          = 'index,follow'
- page.version         = '?' + version
- page.img             = page.static_url + 'img/logo_fb.png' + page.version
- page.favicon         = page.static_url + 'favicon.ico' + page.version

- page.og              = {}
- page.og.title        = 'Urbania.pe'
- page.og.type         = baseUrl
- page.og.image_width  = '250'
- page.og.image_height = '250'
- page.og.image_type   = 'image/jpg'
- page.og.image        = page.static_url + 'img/logo_fb.png' + page.version

- page.dc              = {}
- page.dc.contributor  = 'Urbania.pe'
- page.dc.creator      = 'Urbania.pe'
- page.dc.publisher    = 'Grupo El Comercio'

- page.geo             = {}
- page.geo.placename   = 'Cercado de Lima'
- page.geo.position    = '-12.0478;-77.0622'
- page.geo.region      = 'PE-LIM'
- page.geo.ICBM        = '-12.0478, -77.0622'
