include ../_config/page.jade
include ../_mixins/mixins.jade
doctype html
//-+htmlIe()
html(lang="#{page.lang}", xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#")
	include _partials/head.jade
	include _partials/head_scripts.jade
	body
		include _render/header.jade
		//- -- --
		block content
		//- -- --
		include _render/footer.jade
		include _partials/footer_scripts.jade
