/*!
* Font Styles
* @module fonts
**/

@font-face
	font-family "geog"
	src url("../../../fonts/geog/geog-webfont.eot")
	src url("../../../fonts/geog/geog-webfont.eot?#iefix") format("embedded-opentype"),
		url("../../../fonts/geog/geog-webfont.woff") format("woff"),
        url("../../../fonts/geog/geog-webfont.ttf") format("truetype"),
        url("../../../fonts/geog/geog-webfont.svg#geog") format("svg");
	font-style normal
	font-weight normal

@font-face
	font-family "geog-mdit"
	src url("../../../fonts/geog-mdit/geog-mdit-webfont.eot")
	src url("../../../fonts/geog-mdit/geog-mdit-webfont.eot?#iefix") format("embedded-opentype"),
		url("../../../fonts/geog-mdit/geog-mdit-webfont.woff") format("woff"),
        url("../../../fonts/geog-mdit/geog-mdit-webfont.ttf") format("truetype"),
        url("../../../fonts/geog-mdit/geog-mdit-webfont.svg#geog-mdit") format("svg");
	font-style normal
	font-weight normal

@font-face
	font-family "geog-sbit"
	src url("../../../fonts/geog-sbit/geog-sbit-webfont.eot")
	src url("../../../fonts/geog-sbit/geog-sbit-webfont.eot?#iefix") format("embedded-opentype"),
		url("../../../fonts/geog-sbit/geog-sbit-webfont.woff") format("woff"),
        url("../../../fonts/geog-sbit/geog-sbit-webfont.ttf") format("truetype"),
        url("../../../fonts/geog-sbit/geog-sbit-webfont.svg#geog-sbit") format("svg");
	font-style normal
	font-weight normal

@font-face
	font-family "geogtq-bd"
	src url("../../../fonts/geogtq-bd/geogtq-bd-webfont.eot")
	src url("../../../fonts/geogtq-bd/geogtq-bd-webfont.eot?#iefix") format("embedded-opentype"),
		url("../../../fonts/geogtq-bd/geogtq-bd-webfont.woff") format("woff"),
        url("../../../fonts/geogtq-bd/geogtq-bd-webfont.ttf") format("truetype"),
        url("../../../fonts/geogtq-bd/geogtq-bd-webfont.svg#geogtq-bd") format("svg");
	font-style normal
	font-weight normal

@font-face
	font-family "geogtq-md"
	src url("../../../fonts/geogtq-md/geogtq-md-webfont.eot")
	src url("../../../fonts/geogtq-md/geogtq-md-webfont.eot?#iefix") format("embedded-opentype"),
		url("../../../fonts/geogtq-md/geogtq-md-webfont.woff") format("woff"),
        url("../../../fonts/geogtq-md/geogtq-md-webfont.ttf") format("truetype"),
        url("../../../fonts/geogtq-md/geogtq-md-webfont.svg#geogtq-md") format("svg");
	font-style normal
	font-weight normal

@font-face
	font-family "iconFonts"
	src url("../../../fonts/iconFonts/iconFonts-webfont.eot")
	src url("../../../fonts/iconFonts/iconFonts-webfont.eot?#iefix") format("embedded-opentype"),
		url("../../../fonts/iconFonts/iconFonts-webfont.woff") format("woff"),
        url("../../../fonts/iconFonts/iconFonts-webfont.ttf") format("truetype"),
        url("../../../fonts/iconFonts/iconFonts-webfont.svg#iconFonts") format("svg");
	font-style normal
	font-weight normal

@font-face
	font-family "tge-bold"
	src url("../../../fonts/tge-bold/tge-bold-webfont.eot")
	src url("../../../fonts/tge-bold/tge-bold-webfont.eot?#iefix") format("embedded-opentype"),
		url("../../../fonts/tge-bold/tge-bold-webfont.woff") format("woff"),
        url("../../../fonts/tge-bold/tge-bold-webfont.ttf") format("truetype"),
        url("../../../fonts/tge-bold/tge-bold-webfont.svg#tge-bold") format("svg");
	font-style normal
	font-weight normal
