/*!!
 * Font Styles
 * @module fonts
 * @author Paúl Díaz, Luis Natividad
 */

@require '../../_config/*'
@require '../../_mixins/*'

@font-face
	font_face("geog-mdit")
@font-face
	font_face("geog-sbit")
@font-face
	font_face("geogtq-md")
@font-face
	font_face("geogtq-bd")
@font-face
	font_face("tge-bold")
