extends ../../../layout/layout_empty.jade
//- game/index

//-img(class="balloon floating", src="#{page.static_url}img/balloon.svg", alt="Ballon")

block content
	section.box_game
		.box_center
			.timer 10
			.aladino.running_4
	#terminal
		textarea#console(autofocus)