/*
* Font Styles
* @module fonts
**/
@require '../_config/variables'

@font-face
	font-family "Helvetica"
	src url($fontPath + "Helvetica/Helvetica-webfont.eot")
	src url($fontPath + "Helvetica/Helvetica-webfont.eot?#iefix") format("embedded-opentype"), \
		url($fontPath + "Helvetica/Helvetica-webfont.woff") format("woff"), \
		url($fontPath + "Helvetica/Helvetica-webfont.ttf") format("truetype"), \
		url($fontPath + "Helvetica/Helvetica-webfont.svg#Helvetica") format("svg");
	font-style normal
	font-weight normal

@font-face
	font-family "Icons"
	src url($fontPath + "Icons/Icons-webfont.eot")
	src url($fontPath + "Icons/Icons-webfont.eot?#iefix") format("embedded-opentype"), \
		url($fontPath + "Icons/Icons-webfont.woff") format("woff"), \
		url($fontPath + "Icons/Icons-webfont.ttf") format("truetype"), \
		url($fontPath + "Icons/Icons-webfont.svg#Icons") format("svg");
	font-style normal
	font-weight normal

@font-face
	font-family "IndyPimp"
	src url($fontPath + "IndyPimp/IndyPimp-webfont.eot")
	src url($fontPath + "IndyPimp/IndyPimp-webfont.eot?#iefix") format("embedded-opentype"), \
		url($fontPath + "IndyPimp/IndyPimp-webfont.woff") format("woff"), \
		url($fontPath + "IndyPimp/IndyPimp-webfont.ttf") format("truetype"), \
		url($fontPath + "IndyPimp/IndyPimp-webfont.svg#IndyPimp") format("svg");
	font-style normal
	font-weight normal
