.icon
	-webkit-font-smoothing antialiased
	display inline-block
	font-family "iconFonts"
	font-size 22px
	font-style normal
	font-variant normal
	font-weight normal
	line-height 1
	text-decoration inherit
	text-transform none
	vertical-align middle


.icon_facebook:before
	content "\E001"

.icon_google_plus:before
	content "\E002"

.icon_twitter:before
	content "\E003"
