/**
* Plugins
* @module plugins
*/

/****************************************** Fancybox */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
    padding        0
    margin         0
    border         0
    outline        none
    vertical-align top
.fancybox-wrap
    position absolute
    top      0
    left     0
    z-index  8020
.fancybox-skin
    position              relative
    background            #fff
    color                 #444
    text-shadow           none
    -webkit-border-radius px_to_rem(4)
    -moz-border-radius    px_to_rem(4)
    border-radius         px_to_rem(4)
.fancybox-opened
    z-index 8030
    .fancybox-title
        visibility visible
.fancybox-outer, .fancybox-inner
    position relative
.fancybox-inner
    overflow hidden
.fancybox-type-iframe
    .fancybox-inner
        -webkit-overflow-scrolling touch
.fancybox-error
    color       #444
    font        px_to_rem(14)\/px_to_rem(20) 'Helvetica Neue', Helvetica, Arial, sans-serif
    margin      0
    padding     px_to_rem(15)
    white-space nowrap
.fancybox-image, .fancybox-iframe
    display block
    width   100%
    height  100%
.fancybox-image
    max-width  100%
    max-height 100%
#fancybox-loading
    position           fixed
    top                50%
    left               50%
    margin-top         px_to_rem(-22)
    margin-left        px_to_rem(-22)
    opacity            0.8
    cursor             pointer
    z-index            8060
    background-color   #fff
    border-radius      50%
    box-shadow         0 px_to_rem(2) px_to_rem(6) rgba(0, 0, 0, 0.1)
    -webkit-box-shadow 0 px_to_rem(2) px_to_rem(6) rgba(0, 0, 0, 0.1)
    -moz-box-shadow    0 px_to_rem(1) px_to_rem(4) rgba(0, 0, 0, 0.1)
    div
        width           px_to_rem(44)
        height          px_to_rem(44)
        background      url($imgPath+'plugins/fancybox_loading.gif') center center no-repeat
        background-size px_to_rem(24) px_to_rem(24)
        border-radius   50%
.fancybox-close
    sprite($close_modal)
    position absolute
    cursor   pointer
    z-index  8040
    top      px_to_rem(7)
    right    px_to_rem(7)
    &:hover
        opacity 0.7
.fancybox-nav
    position absolute
    top                         0
    width                       40%
    height                      100%
    cursor                      pointer
    text-decoration             none
    background                  transparent url($imgPath+'plugins/blank.gif')
    -webkit-tap-highlight-color rgba(0,0,0,0)
    z-index                     8040
    span
        position   absolute
        top        50%
        margin-top px_to_rem(-18)
        cursor     pointer
        z-index    8040
        visibility hidden
    &:hover
        span
            visibility visible
.fancybox-prev
    left 0
    span
        sprite($ico_arrow_left)
        left px_to_rem(10)
.fancybox-next
    right 0
    span
        sprite($ico_arrow_right)
        right px_to_rem(10)
.fancybox-tmp
    position   absolute
    top        -99999px
    left       -99999px
    visibility hidden
    max-width  99999px
    max-height 99999px
    overflow   visible !important
.fancybox-lock
    overflow hidden !important
    width    auto
    body
        overflow hidden !important
    .fancybox-overlay
        overflow   auto
        overflow-y scroll
.fancybox-lock-test
    overflow-y hidden !important
.fancybox-overlay
    position   absolute
    top        0
    left       0
    overflow   hidden
    display    none
    z-index    8010
    background url($imgPath+'plugins/fancybox_overlay.png')
.fancybox-overlay-fixed
    position fixed
    bottom   0
    right    0
.fancybox-title
    visibility  hidden
    font        normal px_to_rem(13)\/px_to_rem(20) 'Helvetica Neue', Helvetica, Arial, sans-serif
    position    relative
    text-shadow none
    z-index     8050
.fancybox-title-float-wrap
    position      absolute
    bottom        0
    right         50%
    margin-bottom px_to_rem(-35)
    z-index       8050
    text-align    center
    .child
        display               inline-block
        margin-right          -100%
        padding               px_to_rem(2) px_to_rem(20)
        background            transparent
        background            rgba(0, 0, 0, 0.8)
        -webkit-border-radius px_to_rem(15)
        -moz-border-radius    px_to_rem(15)
        border-radius         px_to_rem(15)
        text-shadow           0 px_to_rem(1) px_to_rem(2) #222
        color                 #FFF
        font-weight           bold
        line-height           px_to_rem(24)
        white-space           nowrap
.fancybox-title-outside-wrap
    position   relative
    margin-top px_to_rem(10)
    color      #fff
.fancybox-title-inside-wrap
    padding-top px_to_rem(10)
.fancybox-title-over-wrap
    position   absolute
    bottom     0
    left       0
    color      #fff
    padding    px_to_rem(10)
    background #000
    background rgba(0, 0, 0, .8)
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5)
    #fancybox-loading,
    .fancybox-prev span,
    .fancybox-next span
        background-image url($imgPath+'plugins/fancybox_sprite@2x.png')
        background-size  px_to_rem(44) px_to_rem(152)

/********************* Parsley */
input.parsley-success,
select.parsley-success,
.select.parsley-success,
textarea.parsley-success
    background-color #fdf18e !important
    border           px_to_rem(1) solid #d7b325 !important
input.parsley-error,
select.parsley-error,
.select.parsley-error,
textarea.parsley-error
    color            #933939 !important
    background-color #fff
    border           px_to_rem(1) solid #933939 !important
.parsley-error,
.parsley-type,
.parsley-required,
.parsley-custom-error-message
    animation-name                    shake
    animation-duration                150ms
    animation-iteration-count         2
    animation-timing-function         linear
    -moz-animation-name               shake
    -moz-animation-duration           150ms
    -moz-animation-iteration-count    2
    -moz-animation-timing-function    linear
    -webkit-animation-name            shake
    -webkit-animation-duration        150ms
    -webkit-animation-iteration-count 2
    -webkit-animation-timing-function linear
.custom_error
    .parsley-errors-list
        margin-bottom px_to_rem(14)
.parsley-errors-list
    background         #933939
    list-style-type    none
    font-size          px_to_rem(12.6)
    line-height        px_to_rem(12.6)
    opacity            0
    -moz-opacity       0
    -webkit-opacity    0
    transition         all .3s ease-in !important
    -o-transition      all .3s ease-in !important
    -ms-transition     all .3s ease-in- !important
    -moz-transition    all .3s ease-in !important
    -webkit-transition all .3s ease-in !important
    &.filled
        opacity    1
        display    table
        padding    5px
        text-align left
    &:empty
        margin 0
    li
        font-size 11px
        color     #fff

/*!
 * Slider for Bootstrap
 *
 * Licensed under the Apache License v2.0
 *
 */

.slider
    display        inline-block
    vertical-align middle
    position       relative
    &.slider-horizontal
        width  210px
        height 20px
        .slider-track
            height     10px
            width      100%
            margin-top -5px
            top        50%
            left       0
        .slider-selection
            height 100%
            top    0
            bottom 0
        .slider-handle
            margin-left -10px
            margin-top  -5px
            &.triangle
                border-width        0 10px 10px 10px
                width               0
                height              0
                border-bottom-color #0480be
                margin-top          0
    &.slider-vertical
        height 210px
        width 20px
        .slider-track
            width       10px
            height      100%
            margin-left -5px
            left        50%
            top         0
        .slider-selection
            width  100%
            left   0
            top    0
            bottom 0
        .slider-handle
            margin-left -5px
            margin-top  -10px
            &.triangle
                border-width      10px 0 10px 10px
                width             1px
                height            1px
                border-left-color #0480be
                margin-left       0
    &.slider-disabled
        .slider-handle
            background-image  -webkit-linear-gradient(top, #dfdfdf 0%, #bebebe 100%)
            background-image  linear-gradient(to bottom, #dfdfdf 0%, #bebebe 100%)
            background-repeat repeat-x
            //filter progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdfdfdf', endColorstr='#ffbebebe', GradientType=0)
        .slider-track
            background-image  -webkit-linear-gradient(top, #e5e5e5 0%, #e9e9e9 100%)
            background-image  linear-gradient(to bottom, #e5e5e5 0%, #e9e9e9 100%)
            background-repeat repeat-x
            //filter progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5e5e5', endColorstr='#ffe9e9e9', GradientType=0)
            //cursor not-allowed
    input
        display none
    .tooltip
        &.hide
            display none
    .tooltip-inner
        white-space nowrap
.slider-track
    position           absolute
    cursor             pointer
    background-image   -webkit-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%)
    background-image   linear-gradient(to bottom, #f5f5f5 0%, #f9f9f9 100%)
    background-repeat  repeat-x
    -webkit-box-shadow inset 0 1px 2px rgba(0, 0, 0, 0.1)
    box-shadow         inset 0 1px 2px rgba(0, 0, 0, 0.1)
    border-radius      4px
    //filter progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0)
.slider-selection
    position           absolute
    background-image   -webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%)
    background-image   linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%)
    background-repeat  repeat-x
    -webkit-box-shadow inset 0 -1px 0 rgba(0, 0, 0, 0.15)
    box-shadow         inset 0 -1px 0 rgba(0, 0, 0, 0.15)
    -webkit-box-sizing border-box
    -moz-box-sizing    border-box
    box-sizing         border-box
    border-radius      4px
    //filter progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0)
.slider-handle
    position           absolute
    width              20px
    height             20px
    background-color   #3a94a5
    background-image   -webkit-linear-gradient(top, #149bdf 0%, #0480be 100%)
    background-image   linear-gradient(to bottom, #149bdf 0%, #0480be 100%)
    background-repeat  repeat-x
    -webkit-box-shadow inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)
    box-shadow         inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)
    opacity            0.8
    border             0px solid transparent
    filter             none
    //filter progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0)
    &.round
        border-radius 50%
    &.triangle
        background transparent none
    &.custom
        background transparent none
        &::before
            line-height 20px
            font-size   20px
            content     '\2605'
            color       #726204

/*PERFECT SCROLL*/

.ps-container
    .ps-scrollbar-x-rail
        position              absolute
        bottom                px_to_rem(3)
        height                px_to_rem(8)
        -webkit-border-radius px_to_rem(4)
        -moz-border-radius    px_to_rem(4)
        border-radius         px_to_rem(4)
        opacity               0
        -o-transition         background-color .2s linear, opacity .2s linear
        -webkit-transition    background-color .2s linear, opacity .2s linear
        -moz-transition       background-color .2s linear, opacity .2s linear
        transition            background-color .2s linear, opacity .2s linear
        &.in-scrolling
            background-color #eee
            opacity          0.9
    .ps-scrollbar-y-rail
        background            $green1
        border-radius         px_to_rem(4)
        margin-top            px_to_rem(20)
        position              absolute
        right                 px_to_rem(3)
        transition            background-color .2s linear, opacity .2s linear
        width                 px_to_rem(2)
        -moz-border-radius    px_to_rem(4)
        -webkit-border-radius px_to_rem(4)
        -o-transition         background-color .2s linear, opacity .2s linear
        -webkit-transition    background-color .2s linear, opacity .2s linear
        -moz-transition       background-color .2s linear, opacity .2s linear
        &.in-scrolling
            background-color $green2
            opacity          0.9
    .ps-scrollbar-x
        position              absolute
        bottom                0
        height                px_to_rem(8)
        background-color      $green2
        -webkit-border-radius px_to_rem(4)
        -moz-border-radius    px_to_rem(4)
        border-radius         px_to_rem(4)
        -o-transition         background-color .2s linear
        -webkit-transition    background-color.2s linear
        -moz-transition       background-color .2s linear
        transition            background-color .2s linear
    &.ie6
        .ps-scrollbar-x
            font-size 0
        .ps-scrollbar-y
            font-size 0
    /*
    &.ie
        .ps-scrollbar-x, .ps-scrollbar-y
            visibility hidden
        &:hover
            .ps-scrollbar-x, .ps-scrollbar-y
                visibility visible
    */
    .ps-scrollbar-y
        background-color      $green2
        border-radius         px_to_rem(4)
        cursor                pointer
        height                px_to_rem(70)
        position              absolute
        right                 px_to_rem(-3)
        transition            background-color .2s linear
        width                 px_to_rem(7)
        -webkit-border-radius px_to_rem(4)
        -moz-border-radius    px_to_rem(4)
        -o-transition         background-color .2s linear
        -webkit-transition    background-color.2s linear
        -moz-transition       background-color .2s linear

/*autocomplete*/

.table-of-contents
    li
        display inline-block
        *display inline
        zoom 1
        a
            font-size px_to_rem(16)
            color     #999
.title,
.example-name
    font-family Prociono
/*
p
    & + p
        margin px_to_rem(30) 0 0 0
*/
.title
    margin    px_to_rem(20) 0 0 0
    font-size px_to_rem(64)
.example
    padding px_to_rem(30) 0
.example-name
    margin    px_to_rem(20) 0
    font-size px_to_rem(32)
.demo
    position relative
    *z-index 1
    margin   px_to_rem(50) 0
.typeahead,
.tt-query,
.tt-hint
    width                 px_to_rem(396)
    height                px_to_rem(30)
    padding               px_to_rem(8) px_to_rem(12)
    font-size             px_to_rem(24)
    line-height           px_to_rem(30)
    border                px_to_rem(2) solid #ccc
    -webkit-border-radius px_to_rem(8)
    -moz-border-radius    px_to_rem(8)
    border-radius         px_to_rem(8)
    outline               none
.typeahead
    background-color #fff
    &:focus
        border px_to_rem(2) solid #0097cf
.tt-query
    -webkit-box-shadow inset 0 px_to_rem(1) px_to_rem(1) rgba(0, 0, 0, 0.075)
    -moz-box-shadow    inset 0 px_to_rem(1) px_to_rem(1) rgba(0, 0, 0, 0.075)
    box-shadow         inset 0 px_to_rem(1) px_to_rem(1) rgba(0, 0, 0, 0.075)
.tt-hint
    color #999
.tt-dropdown-menu
    width                 px_to_rem(422)
    margin-top            px_to_rem(12)
    padding               px_to_rem(8) 0
    background-color      #fff
    border                px_to_rem(1) solid #ccc
    border                px_to_rem(1) solid rgba(0, 0, 0, 0.2)
    -webkit-border-radius px_to_rem(8)
    -moz-border-radius    px_to_rem(8)
    border-radius         px_to_rem(8)
    -webkit-box-shadow    0 px_to_rem(5) px_to_rem(10) rgba(0,0,0,.2)
    -moz-box-shadow       0 px_to_rem(5) px_to_rem(10) rgba(0,0,0,.2)
    box-shadow            0 px_to_rem(5) px_to_rem(10) rgba(0,0,0,.2)
.tt-suggestion
    padding     px_to_rem(3) px_to_rem(20)
    font-size   px_to_rem(18)
    line-height px_to_rem(24)
    &.tt-cursor
        color            #fff
        background-color #0097cf
    p
        margin 0
.gist
    font-size px_to_rem(14)
#custom-templates
    .empty-message
        padding    px_to_rem(5) px_to_rem(10)
        text-align center
#multiple-datasets
    .league-name
        margin        0 px_to_rem(20) px_to_rem(5) px_to_rem(20)
        padding       px_to_rem(3) 0
        border-bottom px_to_rem(1) solid #ccc
#scrollable-dropdown-menu
    .tt-dropdown-menu
        max-height px_to_rem(150)
        overflow-y auto
#rtl-support
    .tt-dropdown-menu
        text-align right
/*typeahead*/
.typeahead,
.tt-query,
.tt-hint
    width                 px_to_rem(396)
    height                px_to_rem(30)
    padding               px_to_rem(8) px_to_rem(12)
    font-size             px_to_rem(24)
    line-height           px_to_rem(30)
    border                px_to_rem(2) solid #ccc
    -webkit-border-radius px_to_rem(8)
    -moz-border-radius    px_to_rem(8)
    border-radius         px_to_rem(8)
    outline               none
.typeahead
    background-color #fff
    &:focus
        border px_to_rem(2) solid #0097cf
.tt-query
    -webkit-box-shadow inset 0 px_to_rem(1) px_to_rem(1) rgba(0, 0, 0, 0.075)
    -moz-box-shadow    inset 0 px_to_rem(1) px_to_rem(1) rgba(0, 0, 0, 0.075)
    box-shadow         inset 0 px_to_rem(1) px_to_rem(1) rgba(0, 0, 0, 0.075)
.tt-hint
    color #999
.tt-dropdown-menu
    width                 px_to_rem(422)
    margin-top            px_to_rem(12)
    padding               px_to_rem(8) 0
    background-color      #fff
    border                px_to_rem(1) solid #ccc
    border                px_to_rem(1) solid rgba(0, 0, 0, 0.2)
    -webkit-border-radius px_to_rem(8)
    -moz-border-radius    px_to_rem(8)
    border-radius         px_to_rem(8)
    -webkit-box-shadow    0 px_to_rem(5) px_to_rem(10) rgba(0,0,0,.2)
    -moz-box-shadow       0 px_to_rem(5) px_to_rem(10) rgba(0,0,0,.2)
    box-shadow            0 px_to_rem(5) px_to_rem(10) rgba(0,0,0,.2)
.tt-suggestion
    padding     px_to_rem(3) px_to_rem(20)
    font-size   px_to_rem(18)
    line-height px_to_rem(24)
    &.tt-cursor
        color            #fff
        background-color #0097cf
    p
        margin 0
.gist
    font-size px_to_rem(14)
@css {
    @keyframes slide_left {
        0%{
            position : absolute;
        }
        100% {
            transform : translate(-258px, 0);
            display   : none;
            position  : absolute;
        }
    }

    @-moz-keyframes slide_left {
        0%{
            position : absolute;
        }
        100% {
            -moz-transform : translate(-258px, 0);
            display        : none;
            position       : absolute;
        }
    }

    @-webkit-keyframes slide_left {
        0%{
            position : absolute;
        }
        100% {
            -webkit-transform : translate(-258px, 0);
            display           : none;
            position          : absolute;
        }
    }
    @keyframes slide_right {
        0% {
            display : block;
        }
        100% {
            transform : translate(0, 0);
            position  : relative;
        }
    }

    @-moz-keyframes slide_right {
        0% {
            display : block;
        }
        100% {
            -moz-transform : translate(0, 0);
            position       : relative;
        }
    }

    @-webkit-keyframes slide_right {
        0% {
            display : block;
        }
        100% {
            -webkit-transform : translate(0, 0);
            position          : relative;
        }
    }
}
.ui-helper-hidden
    display none
.ui-helper-hidden-accessible
    border   0
    clip     rect(0 0 0 0)
    height   1px
    margin   -1px
    overflow hidden
    padding  0
    position absolute
    width    1px
.ui-helper-reset
    margin          0
    padding         0
    border          0
    outline         0
    line-height     1.3
    text-decoration none
    font-size       100%
    list-style      none
.ui-helper-clearfix:before,
.ui-helper-clearfix:after
    content         ''
    display         table
    border-collapse collapse
.ui-helper-clearfix
    min-height 0
    &:after
        clear both
.ui-helper-zfix
    width    100%
    height   100%
    top      0
    left     0
    position absolute
    opacity  0
    filter   Alpha(Opacity=0)
.ui-front
    z-index 100
.ui-state-disabled
    cursor default !important
    .ui-icon
        filter Alpha(Opacity=35)
.ui-icon
    display           block
    text-indent       -99999px
    overflow          hidden
    background-repeat no-repeat
    width             16px
    height            16px
.ui-widget-overlay
    position   fixed
    top        0
    left       0
    width      100%
    height     100%
    background #aaaaaa url($imgJqueryUiPath+'ui-bg_flat_0_aaaaaa_40x100.png') 50% 50% repeat-x
    opacity    .3
    filter     Alpha(Opacity=30)
.ui-datepicker
    width   17em
    padding .2em .2em 0
    display none
    .ui-datepicker-header
        position relative
        padding .2em 0
    .ui-datepicker-prev
        left 2px
    .ui-datepicker-next
        right 2px
    .ui-datepicker-prev-hover
        left 1px
    .ui-datepicker-next-hover
        right 1px
    .ui-datepicker-title
        margin      0 2.3em
        line-height 1.8em
        text-align  center
        select
            font-size 1em
            margin    1px 0
    table
        width           100%
        font-size       .9em
        border-collapse collapse
        margin          0 0 .4em
    th
        padding     .7em .3em
        text-align  center
        font-weight bold
        border      0
    td
        border  0
        padding 1px
    .ui-datepicker-buttonpane
        background-image none
        margin           .7em 0 0 0
        padding          0 .2em
        border-left      0
        border-right     0
        border-bottom    0
        button
            float    right
            margin   .5em .2em .4em
            cursor   pointer
            padding  .2em .6em .3em .6em
            width    auto
            overflow visible
            &.ui-datepicker-current
                float left
    &.ui-datepicker-multi
        width auto
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next
    position absolute
    top      2px
    width    1.8em
    height   1.8em
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover
    top 1px
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span
    display     block
    position    absolute
    left        50%
    margin-left -8px
    top         50%
    margin-top  -8px
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year
    width 45%
.ui-datepicker td span,
.ui-datepicker td a
    display         block
    padding         .2em
    text-align      right
    text-decoration none
.ui-datepicker-multi
    .ui-datepicker-group
        float left
        table
            width  95%
            margin 0 auto .4em
    .ui-datepicker-buttonpane
        clear left
.ui-datepicker-multi-2
    .ui-datepicker-group
        width 50%
.ui-datepicker-multi-3
    .ui-datepicker-group
        width 33.3%
.ui-datepicker-multi-4
    .ui-datepicker-group
        width 25%
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header
    border-left-width 0
.ui-datepicker-row-break
    clear     both
    width     100%
    font-size 0
.ui-datepicker-rtl
    direction rtl
    .ui-datepicker-prev
        right 2px
        left  auto
        &:hover
            right 1px
            left  auto
    .ui-datepicker-next
        left  2px
        right auto
        &:hover
            left  1px
            right auto
    .ui-datepicker-buttonpane
        clear right
        button
            float left
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group
    float right
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header
    border-right-width 0
    border-left-width  1px

.ui-widget
    font-family Verdana,Arial,sans-serif
    font-size   rem(10px)
    .ui-widget
        font-size rem(10px)
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button
    font-family Verdana,Arial,sans-serif
    font-size   1em
.ui-widget-content
    border     1px solid #aaaaaa
    background #ffffff url($imgJqueryUiPath+'ui-bg_flat_75_ffffff_40x100.png') 50% 50% repeat-x
    color      #222222
    a
        color #222222
.ui-widget-header
    border      1px solid #aaaaaa
    background  #cccccc url($imgJqueryUiPath+'ui-bg_highlight-soft_75_cccccc_1x100.png') 50% 50% repeat-x
    color       #222222
    font-weight bold
    a
        color #222222
    .ui-icon
        background-image url($imgJqueryUiPath+'ui-icons_222222_256x240.png')
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default
    border      1px solid #d3d3d3
    background  #e6e6e6 url($imgJqueryUiPath+'ui-bg_glass_75_e6e6e6_1x400.png') 50% 50% repeat-x
    font-weight normal
    color       #555555
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited
    color           #555555
    text-decoration none
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus
    border      1px solid #999999
    background  #dadada url($imgJqueryUiPath+'ui-bg_glass_75_dadada_1x400.png') 50% 50% repeat-x
    font-weight normal
    color       #212121
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited
    color           #212121
    text-decoration none
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active
    border      1px solid #aaaaaa
    background  #ffffff url($imgJqueryUiPath+'ui-bg_glass_65_ffffff_1x400.png') 50% 50% repeat-x
    font-weight normal
    color       #212121
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited
    color           #212121
    text-decoration none
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight
    border     1px solid #fcefa1
    background #fbf9ee url($imgJqueryUiPath+'ui-bg_glass_55_fbf9ee_1x400.png') 50% 50% repeat-x
    color      #363636
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a
    color #363636
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error
    border     1px solid #cd0a0a
    background #fef1ec url($imgJqueryUiPath+'ui-bg_glass_95_fef1ec_1x400.png') 50% 50% repeat-x
    color      #cd0a0a
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a
    color #cd0a0a
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text
    color #cd0a0a
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary
    font-weight bold
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary
    opacity     .7
    filter      Alpha(Opacity=70)
    font-weight normal
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled
    opacity          .35
    filter           Alpha(Opacity=35)
    background-image none
.ui-icon,
.ui-widget-content .ui-icon
    background-image url($imgJqueryUiPath+'ui-icons_222222_256x240.png')
.ui-state-default
    .ui-icon
        background-image url($imgJqueryUiPath+'ui-icons_888888_256x240.png')
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon
    background-image url($imgJqueryUiPath+'ui-icons_454545_256x240.png')
.ui-state-active
    .ui-icon
        background-image url($imgJqueryUiPath+'ui-icons_454545_256x240.png')
.ui-state-highlight
    .ui-icon
        background-image url($imgJqueryUiPath+'ui-icons_2e83ff_256x240.png')
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon
    background-image url($imgJqueryUiPath+'ui-icons_cd0a0a_256x240.png')
.ui-icon-blank
    background-position 16px 16px
.ui-icon-carat-1-n
    background-position 0 0
.ui-icon-carat-1-ne
    background-position -16px 0
.ui-icon-carat-1-e
    background-position -32px 0
.ui-icon-carat-1-se
    background-position -48px 0
.ui-icon-carat-1-s
    background-position -64px 0
.ui-icon-carat-1-sw
    background-position -80px 0
.ui-icon-carat-1-w
    background-position -96px 0
.ui-icon-carat-1-nw
    background-position -112px 0
.ui-icon-carat-2-n-s
    background-position -128px 0
.ui-icon-carat-2-e-w
    background-position -144px 0
.ui-icon-triangle-1-n
    background-position 0 -16px
.ui-icon-triangle-1-ne
    background-position -16px -16px
.ui-icon-triangle-1-e
    background-position -32px -16px
.ui-icon-triangle-1-se
    background-position -48px -16px
.ui-icon-triangle-1-s
    background-position -64px -16px
.ui-icon-triangle-1-sw
    background-position -80px -16px
.ui-icon-triangle-1-w
    background-position -96px -16px
.ui-icon-triangle-1-nw
    background-position -112px -16px
.ui-icon-triangle-2-n-s
    background-position -128px -16px
.ui-icon-triangle-2-e-w
    background-position -144px -16px
.ui-icon-arrow-1-n
    background-position 0 -32px
.ui-icon-arrow-1-ne
    background-position -16px -32px
.ui-icon-arrow-1-e
    background-position -32px -32px
.ui-icon-arrow-1-se
    background-position -48px -32px
.ui-icon-arrow-1-s
    background-position -64px -32px
.ui-icon-arrow-1-sw
    background-position -80px -32px
.ui-icon-arrow-1-w
    background-position -96px -32px
.ui-icon-arrow-1-nw
    background-position -112px -32px
.ui-icon-arrow-2-n-s
    background-position -128px -32px
.ui-icon-arrow-2-ne-sw
    background-position -144px -32px
.ui-icon-arrow-2-e-w
    background-position -160px -32px
.ui-icon-arrow-2-se-nw
    background-position -176px -32px
.ui-icon-arrowstop-1-n
    background-position -192px -32px
.ui-icon-arrowstop-1-e
    background-position -208px -32px
.ui-icon-arrowstop-1-s
    background-position -224px -32px
.ui-icon-arrowstop-1-w
    background-position -240px -32px
.ui-icon-arrowthick-1-n
    background-position 0 -48px
.ui-icon-arrowthick-1-ne
    background-position -16px -48px
.ui-icon-arrowthick-1-e
    background-position -32px -48px
.ui-icon-arrowthick-1-se
    background-position -48px -48px
.ui-icon-arrowthick-1-s
    background-position -64px -48px
.ui-icon-arrowthick-1-sw
    background-position -80px -48px
.ui-icon-arrowthick-1-w
    background-position -96px -48px
.ui-icon-arrowthick-1-nw
    background-position -112px -48px
.ui-icon-arrowthick-2-n-s
    background-position -128px -48px
.ui-icon-arrowthick-2-ne-sw
    background-position -144px -48px
.ui-icon-arrowthick-2-e-w
    background-position -160px -48px
.ui-icon-arrowthick-2-se-nw
    background-position -176px -48px
.ui-icon-arrowthickstop-1-n
    background-position -192px -48px
.ui-icon-arrowthickstop-1-e
    background-position -208px -48px
.ui-icon-arrowthickstop-1-s
    background-position -224px -48px
.ui-icon-arrowthickstop-1-w
    background-position -240px -48px
.ui-icon-arrowreturnthick-1-w
    background-position 0 -64px
.ui-icon-arrowreturnthick-1-n
    background-position -16px -64px
.ui-icon-arrowreturnthick-1-e
    background-position -32px -64px
.ui-icon-arrowreturnthick-1-s
    background-position -48px -64px
.ui-icon-arrowreturn-1-w
    background-position -64px -64px
.ui-icon-arrowreturn-1-n
    background-position -80px -64px
.ui-icon-arrowreturn-1-e
    background-position -96px -64px
.ui-icon-arrowreturn-1-s
    background-position -112px -64px
.ui-icon-arrowrefresh-1-w
    background-position -128px -64px
.ui-icon-arrowrefresh-1-n
    background-position -144px -64px
.ui-icon-arrowrefresh-1-e
    background-position -160px -64px
.ui-icon-arrowrefresh-1-s
    background-position -176px -64px
.ui-icon-arrow-4
    background-position 0 -80px
.ui-icon-arrow-4-diag
    background-position -16px -80px
.ui-icon-extlink
    background-position -32px -80px
.ui-icon-newwin
    background-position -48px -80px
.ui-icon-refresh
    background-position -64px -80px
.ui-icon-shuffle
    background-position -80px -80pz
.ui-icon-transfer-e-w
    background-position -96px -80px
.ui-icon-transferthick-e-w
    background-position -112px -80px
.ui-icon-folder-collapsed
    background-position 0 -96px
.ui-icon-folder-open
    background-position -16px -96px
.ui-icon-document
    background-position -32px -96px
.ui-icon-document-b
    background-position -48px -96px
.ui-icon-note
    background-position -64px -96px
.ui-icon-mail-closed
    background-position -80px -96px
.ui-icon-mail-open
    background-position -96px -96px
.ui-icon-suitcase
    background-position -112px -96px
.ui-icon-comment
    background-position -128px -96px
.ui-icon-person
    background-position -144px -96px
.ui-icon-print
    background-position -160px -96px
.ui-icon-trash
    background-position -176px -96px
.ui-icon-locked
    background-position -192px -96px
.ui-icon-unlocked
    background-position -208px -96px
.ui-icon-bookmark
    background-position -224px -96px
.ui-icon-tag
    background-position -240px -96px
.ui-icon-home
    background-position 0 -112px
.ui-icon-flag
    background-position -16px -112px
.ui-icon-calendar
    background-position -32px -112px
.ui-icon-cart
    background-position -48px -112px
.ui-icon-pencil
    background-position -64px -112px
.ui-icon-clock
    background-position -80px -112px
.ui-icon-disk
    background-position -96px -112px
.ui-icon-calculator
    background-position -112px -112px
.ui-icon-zoomin
    background-position -128px -112px
.ui-icon-zoomout
    background-position -144px -112px
.ui-icon-search
    background-position -160px -112px
.ui-icon-wrench
    background-position -176px -112px
.ui-icon-gear
    background-position -192px -112px
.ui-icon-heart
    background-position -208px -112px
.ui-icon-star
    background-position -224px -112px
.ui-icon-link
    background-position -240px -112px
.ui-icon-cancel
    background-position 0 -128px
.ui-icon-plus
    background-position -16px -128px
.ui-icon-plusthick
    background-position -32px -128px
.ui-icon-minus
    background-position -48px -128px
.ui-icon-minusthick
    background-position -64px -128px
.ui-icon-close
    background-position -80px -128px
.ui-icon-closethick
    background-position -96px -128px
.ui-icon-key
    background-position -112px -128px
.ui-icon-lightbulb
    background-position -128px -128px
.ui-icon-scissors
    background-position -144px -128px
.ui-icon-clipboard
    background-position -160px -128px
.ui-icon-copy
    background-position -176px -128px
.ui-icon-contact
    background-position -192px -128px
.ui-icon-image
    background-position -208px -128px
.ui-icon-video
    background-position -224px -128px
.ui-icon-script
    background-position -240px -128px
.ui-icon-alert
    background-position 0 -144px
.ui-icon-info
    background-position -16px -144px
.ui-icon-notice
    background-position -32px -144px
.ui-icon-help
    background-position -48px -144px
.ui-icon-check
    background-position -64px -144px
.ui-icon-bullet
    background-position -80px -144px
.ui-icon-radio-on
    background-position -96px -144px
.ui-icon-radio-off
    background-position -112px -144px
.ui-icon-pin-w
    background-position -128px -144px
.ui-icon-pin-s
    background-position -144px -144px
.ui-icon-play
    background-position 0 -160px
.ui-icon-pause
    background-position -16px -160px
.ui-icon-seek-next
    background-position -32px -160px
.ui-icon-seek-prev
    background-position -48px -160px
.ui-icon-seek-end
    background-position -64px -160px
.ui-icon-seek-start
    background-position -80px -160px
.ui-icon-seek-first
    background-position -80px -160px
.ui-icon-stop
    background-position -96px -160px
.ui-icon-eject
    background-position -112px -160px
.ui-icon-volume-off
    background-position -128px -160px
.ui-icon-volume-on
    background-position -144px -160px
.ui-icon-power
    background-position 0 -176px
.ui-icon-signal-diag
    background-position -16px -176px
.ui-icon-signal
    background-position -32px -176px
.ui-icon-battery-0
    background-position -48px -176px
.ui-icon-battery-1
    background-position -64px -176px
.ui-icon-battery-2
    background-position -80px -176px
.ui-icon-battery-3
    background-position -96px -176px
.ui-icon-circle-plus
    background-position 0 -192px
.ui-icon-circle-minus
    background-position -16px -192px
.ui-icon-circle-close
    background-position -32px -192px
.ui-icon-circle-triangle-e
    background-position -48px -192px
.ui-icon-circle-triangle-s
    background-position -64px -192px
.ui-icon-circle-triangle-w
    background-position -80px -192px
.ui-icon-circle-triangle-n
    background-position -96px -192px
.ui-icon-circle-arrow-e
    background-position -112px -192px
.ui-icon-circle-arrow-s
    background-position -128px -192px
.ui-icon-circle-arrow-w
    background-position -144px -192px
.ui-icon-circle-arrow-n
    background-position -160px -192px
.ui-icon-circle-zoomin
    background-position -176px -192px
.ui-icon-circle-zoomout
    background-position -192px -192px
.ui-icon-circle-check
    background-position -208px -192px
.ui-icon-circlesmall-plus
    background-position 0 -208px
.ui-icon-circlesmall-minus
    background-position -16px -208px
.ui-icon-circlesmall-close
    background-position -32px -208px
.ui-icon-squaresmall-plus
    background-position -48px -208px
.ui-icon-squaresmall-minus
    background-position -64px -208px
.ui-icon-squaresmall-close
    background-position -80px -208px
.ui-icon-grip-dotted-vertical
    background-position 0 -224px
.ui-icon-grip-dotted-horizontal
    background-position -16px -224px
.ui-icon-grip-solid-vertical
    background-position -32px -224px
.ui-icon-grip-solid-horizontal
    background-position -48px -224px
.ui-icon-gripsmall-diagonal-se
    background-position -64px -224px
.ui-icon-grip-diagonal-se
    background-position -80px -224px
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl
    border-top-left-radius 4px
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr
    border-top-right-radius 4px
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl
    border-bottom-left-radius 4px
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br
    border-bottom-right-radius 4px
.ui-widget-shadow
    margin        -8px 0 0 -8px
    padding       8px
    background    #aaaaaa url($imgJqueryUiPath+'ui-bg_flat_0_aaaaaa_40x100.png') 50% 50% repeat-x
    opacity       .3
    filter        Alpha(Opacity=30)
    border-radius 8px

// nanoscroller

.nano
    position relative
    width    100%
    height   100%
    overflow hidden
.nano > .nano_content
    position   absolute
    overflow   scroll
    overflow-x hidden
    top        0
    right      0
    bottom     0
    left       0
.nano > .nano_content:focus
    outline thin dotted
.nano > .nano_content::-webkit-scrollbar
    display none
.has-scrollbar > .nano_content::-webkit-scrollbar
    display block
.nano > .nano-pane
    background            #888
    position              absolute
    width                 10px
    right                 0
    top                   0
    bottom                0
    visibility            hidden\9 /* Target only IE7 and IE8 with this hack */
    opacity               .01
    -webkit-transition    .2s
    -moz-transition       .2s
    -o-transition         .2s
    transition            .2s
    -moz-border-radius    5px
    -webkit-border-radius 5px
    border-radius         5px
.nano > .nano-pane > .nano-slider
    background            #111
    background            rgba(0,0,0,.5)
    position              relative
    margin                0 1px
    -moz-border-radius    3px
    -webkit-border-radius 3px
    border-radius         3px
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed
    visibility visible\9 /* Target only IE7 and IE8 with this hack */
    opacity    0.99