/**
* Resources
* @module resources
*/

.tar
    text-align right
.tal
    text-align left
.tac
    text-align center
.mb20
    margin-bottom px_to_rem(29.4)
.mt10
    margin-top 10px
.mt20
    margin-top 20px
.mt30
    margin-top 30px
.mt40
    margin-top px_to_rem(35)
.relative
    position relative
.hide
    display none !important
.padboth
    padding px_to_rem(21) 0
.line_bottom
    border-bottom 1px solid $grey20
    margin-bottom px_to_rem(14)
    padding-bottom px_to_rem(14)
.grid_2
    col(2/12)
.grid_3
    col(3/12)
.grid_4
    col(4/12)
.grid_5
    col(5/12)
.grid_6
    col(6/12)
.grid_7
    col(7/12)
.grid_8
    col(8/12)
.grid_9
    col(9/12)
.grid_10
    col(10/12)
.grid_11
    col(11/12)
.the_price
    font-size   px_to_rem(25.2)
    line-height px_to_rem(25.2)
    margin      px_to_rem(14) 0 px_to_rem(4.2)
.amount_kind
    background   url($imgPath+'bg_graytransparente2.png') repeat
    color        $white
    float        left
    font-size    px_to_rem(15.4)
    height       35px
    line-height  35px
    margin-right 2px
    padding      0 12px
    &:hover
        background-color $black
        color            $white
        text-decoration  none
.ico_galeria
    sprite($ico_galeria)
    display_inline()
    margin-left    5px
    vertical-align middle
.ico_video
    sprite($ico_video)
    display_inline()
    margin-left    5px
    vertical-align middle
.logo_perfil
    margin-bottom 3px
    text-align    center
    img
        max-height 80px