/*!!
 * Game
 * @controller game
 * @module my_module
 * @author Jan Sanchez
 */

@require '../../_config/*'
@require '../../_mixins/*'

/*!!
* index
* @controller game
* @view index
*/

body
	background black

.box_game
	background linear-gradient(to top,#69a0c1,#333333)
	padding-top 20px
	padding-bottom 20px
	color #8f725b
	transition color 1s ease
	height 620px

.balloon
	margin-top 120px
	margin-bottom 120px
	max-width 200px
	max-height 298px

.floating
	animation-name floating
	-webkit-animation-name floating
	animation-duration 4s
	-webkit-animation-duration 4s
	animation-iteration-count infinite
	-webkit-animation-iteration-count infinite

#aladino
	background transparent url($imgPath+'aladino.gif') no-repeat 0px 0px 
	width 29px
	height 66px


@keyframes floating {
	0% {
		transform translateY(0%)  
	}
	50% {
		transform translateY(7%)  
	}   
	100% {
		transform translateY(0%)
	}           
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform translateY(0%)  
	}
	50% {
		-webkit-transform translateY(7%)  
	}   
	100% {
		-webkit-transform translateY(0%)
	}           
}



#terminal
	position fixed
	bottom 0
	width 100%
	margin 5px 0 0 0
	padding 10px
	background #000000
	max-height 100px
	color #FFFFFF
	textarea
		background #000
		color white
		font-size 13px
		font-family sans-serif
		border 0
		width 100%
		padding 5px

