/*!!
 * Game
 * @controller game
 * @module my_module
 * @author Jan Sanchez
 */

@require '../../_config/*'
@require '../../_mixins/*'

/*!!
* index
* @controller game
* @view index
*/

body
	background black

.box_game
	//background linear-gradient(to top,#69a0c1,#333333)
	background-image url($imgPath + 'bg_game.png')
	background-position 0px 0px
	background-repeat repeat-x
	color #8f725b
	height 512px
	padding-bottom 20px
	padding-top 20px
	animation animatedBackground 27s linear infinite


.balloon
	margin-bottom 120px
	margin-top 120px
	max-height 298px
	max-width 200px

.floating
	animation-name floating
	-webkit-animation-name floating
	animation-duration 4s
	-webkit-animation-duration 4s
	animation-iteration-count infinite
	-webkit-animation-iteration-count infinite

.aladino
	bottom -435px
	height 66px
	left 47%
	position absolute
	width 46px

.timer
	background-color gold
	border-radius 50%
	color red
	font-family monospace
	font-size xx-large
	height 80px
	left 0px
	line-height 80px
	position absolute
	text-align center
	top 20px
	width 80px

.running_1
	sprite($aladino_1)
.running_2
	sprite($aladino_2)
.running_3
	sprite($aladino_3)
.running_4
	sprite($aladino_4)
.running_5
	sprite($aladino_5)
.running_6
	sprite($aladino_6)
.running_7
	sprite($aladino_7)
.running_8
	sprite($aladino_8)
.running_9
	sprite($aladino_9)
.running_10
	sprite($aladino_10)
.running_11
	sprite($aladino_11)




@-webkit-keyframes animatedBackground {
	from {
		background-position: 1300% 600%
	}
	to { 
		background-position: 5% 5%
	}
}


@keyframes floating {
	0% {
		transform translateY(0%)  
	}
	50% {
		transform translateY(7%)  
	}   
	100% {
		transform translateY(0%)
	}           
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform translateY(0%)  
	}
	50% {
		-webkit-transform translateY(7%)  
	}   
	100% {
		-webkit-transform translateY(0%)
	}           
}



#terminal
	position fixed
	bottom 0
	width 100%
	margin 5px 0 0 0
	padding 10px
	background #000000
	max-height 100px
	color #FFFFFF
	textarea
		background #000
		color white
		font-size 13px
		font-family sans-serif
		border 0
		width 100%
		padding 5px

