/*!!
 * Account
 * @controller Account
 * @module momo
 * @author Jan Sanchez, Paul Diaz, Luis Natividad
 */

@require '../../_config/*'
@require '../../_mixins/*'

/*!!
* Index
* @controller Afiliacion
* @view Index
*/


form
	color white
	//font-size rem(20px)
	padding rem(30px)
	text-align left
	h4
		font-size rem(29px)
		font-family $familyMediumItalic
		margin 0
	h5
		margin-bottom -5px
		display inline-block
		&.float_right
			float right
		.expiry
			position relative
			display inline-block
			sprite($question)
			vertical-align middle
			margin -5px 0 0 5px
			> img
				position absolute
				display none
				left 50%
				bottom 12px
				max-width none
				margin 0 0 0 -118px
	.form_control
		margin-bottom 12px
		> .form_subcontrol
			display inline-block
			position relative
			margin 0 8px 0 0
			&:last-child
				margin 0
				> .select
					margin 0
			> ul
				> li
					> ul
						margin 5px 0 8px 30px !important
		.securePin
			margin 0 0 15px 0
	
	#nextStep
		text-align right
	.log_in_here
	.dont_receive
		font-family $familyMediumItalic
		float left
		text-align left
		margin-top rem(5px)
		font-size rem(13px)
		a
			font-family $familyMediumItalic
			text-decoration underline
			color white
			transition color .3s linear 0s
			&:hover
				color $yellow_01
	.dont_receive
		float none
	.button
		display inline-block
		> img
			bottom -6px
#countdown
	position fixed
	top 0
	left 0
	display none