/**
* Config
* @class Config
*/

/* Paths */
$imgPath         = '../../../img/'
$imgMediumPath   = '../' + $imgPath
$imgLargePath    = '../../' + $imgPath
$imgJqueryUiPath = '../../../img/ui_images/'
$fontPath        = '../../../fonts/'
$othersPath      = '../../../others/'

/* font family variables */
$familyMediumItalic       = 'geog-mdit', 'arial', 'sans-serif'
$familyMedium             = 'geogtq-md', 'arial', 'sans-serif'
$familyBold               = 'geogtq-bd', 'arial', 'sans-serif'
$familySemiBoldItalic     = 'geog-sbit', 'arial', 'sans-serif'
$familyTheGreatEscapeBold = 'tge-bold', 'arial', 'sans-serif'
$basefont                 = 16px

/* if true display outline in red, this is for layout */
$debug = false

/* Color variables */
$yellow_01  = #feca00
$yellow_f5  = #f5be00
$beige_01   = #f2f2e4
$skyblue_01 = #79e5fc
$gray_c5    = #c5c5c5
$gray_4a    = #4a4a4a
$gray_7c    = #7c7c7c
$gray_e3    = #e3e3e3
$gray_83    = #838383
$gray_bb    = #bbbbbb
$gray_d0    = #d0d0d0
$linkActive = #000
$red_01     = #ff0000
$red_02     = #933939
$black_32   = #323232

/* Layout variables */
$wrapperWidth = 960px
